Repository neos/flow-development-collection, pull requests merged in 2018-06, with the labels that each got.

#1196 TASK: Small boot performance improvements
  Neos.Flow/Classes/Configuration/ConfigurationManager.php
  Neos.Flow/Classes/Configuration/RouteConfigurationProcessor.php
  Neos.Flow/Classes/Core/Booting/Scripts.php
  Neos.Flow/Classes/Core/Bootstrap.php
  Neos.Flow/Classes/Reflection/ReflectionServiceFactory.php
  Neos.Flow/Classes/Security/Authentication/AuthenticationProviderManager.php
  Neos.Flow/Configuration/Objects.yaml
  Neos.Flow/Tests/Behavior/Features/Bootstrap/SecurityOperationsTrait.php
  Neos.Flow/Tests/Unit/Configuration/ConfigurationManagerTest.php
  Neos.Flow/Tests/Unit/Security/Authentication/AuthenticationProviderManagerTest.php
Labels: P: Flow, T: PHP

#1326 BUGFIX: Adjust has() to phpredis >= 4.0.0
  TYPO3.Flow/Classes/TYPO3/Flow/Cache/Backend/RedisBackend.php
Labels: P: Cache

#1331 Improve performance of ResourceManager::getResourceBySha1()
  TYPO3.Flow/Classes/TYPO3/Flow/Resource/Resource.php
  TYPO3.Flow/Migrations/Mysql/Version20180622074421.php
  TYPO3.Flow/Migrations/Postgresql/Version20180622074422.php
Labels: P: Flow, T: Database

#1312 BUGFIX: Fix distinction between PSR and legacy loggers in the LoggerFactory
  Neos.Flow/Classes/Log/LoggerFactory.php
Labels: P: Flow, T: PHP
