Repository neos/flow-development-collection, pull requests merged in 2018-10, with the labels that each got.

#1402 TASK: Make ContentStream easier to use
  Neos.Flow/Classes/Http/ContentStream.php
  Neos.Flow/Classes/Http/Helper/ArgumentsHelper.php
  Neos.Flow/Tests/Unit/Http/ContentStreamTest.php
Labels: P: Flow, T: PHP, hacktoberfest

#1416 FEATURE: Add maxlength to TextArea view helper
  Neos.FluidAdaptor/Classes/ViewHelpers/Form/TextareaViewHelper.php
Labels: P: Fluid(Adaptor), T: PHP

#1424 BUGFIX: prevent mutations in PluralsReader
  Neos.Flow/Classes/I18n/Cldr/Reader/PluralsReader.php
  Neos.Flow/Tests/Unit/I18n/Cldr/Reader/PluralsReaderTest.php
Labels: P: Flow, T: PHP

#1425 TASK: Fix typo in @see annotation
  Neos.FluidAdaptor/Classes/Core/Parser/Interceptor/ResourceInterceptor.php
Labels: P: Flow, T: Documentation
