Repository neos/flow-development-collection, pull requests merged in 2018-08, with the labels that each got.

#1357 BUGFIX: Add ext-xml as composer dependency
  composer.json
Labels: P: Flow, dependencies

#1360 TASK: Remove doesNotPerformAssertions from a test
  Neos.Flow/Tests/Unit/Property/PropertyMapperTest.php
Labels: P: Flow, T: Testing

#1351 BUGFIX: Fix wrong namespace for DocTools settings
  Neos.Flow/Configuration/Settings.DocTools.yaml
Labels: P: Flow, T: Documentation

#1364 TASK: Add support for pkpass mime type
  Neos.Utility.MediaTypes/Scripts/updatemediatypes.php
Labels: P: Flow, T: PHP

#1349 TASK: Throw a helpful exception when enctype is not set correctly for uploads
  Neos.FluidAdaptor/Classes/Core/ViewHelper/Exception/WrongEnctypeException.php
  Neos.FluidAdaptor/Classes/ViewHelpers/Form/UploadViewHelper.php
  Neos.FluidAdaptor/Classes/ViewHelpers/FormViewHelper.php
  Neos.FluidAdaptor/Tests/Functional/View/Fixtures/TestTemplateWithFormUpload.txt
  Neos.FluidAdaptor/Tests/Functional/View/StandaloneViewTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/FormViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/ViewHelperBaseTestcase.php
Labels: P: Fluid(Adaptor), T: PHP

#1327 FEATURE: base64 en-/decoding via Fusion
  Neos.Eel/Classes/Helper/StringHelper.php
  Neos.Eel/Tests/Unit/Fixtures/TestObject.php
  Neos.Eel/Tests/Unit/Helper/StringHelperTest.php
Labels: P: Eel, T: PHP

#1366 TASK: Deprecating non PSR-7 methods
  Neos.Flow/Classes/Core/Booting/Scripts.php
  Neos.Flow/Classes/Core/Bootstrap.php
  Neos.Flow/Classes/Error/AbstractExceptionHandler.php
  Neos.Flow/Classes/Error/DebugExceptionHandler.php
  Neos.Flow/Classes/Error/ProductionExceptionHandler.php
  Neos.Flow/Classes/Http/AbstractMessage.php
  Neos.Flow/Classes/Http/BaseRequest.php
  Neos.Flow/Classes/Http/Client/CurlEngine.php
  Neos.Flow/Classes/Http/Component/ComponentContext.php
  Neos.Flow/Classes/Http/Component/StandardsComplianceComponent.php
  Neos.Flow/Classes/Http/Component/TrustedProxiesComponent.php
  Neos.Flow/Classes/Http/ContentStream.php
  Neos.Flow/Classes/Http/Headers.php
  Neos.Flow/Classes/Http/Helper/ArgumentsHelper.php
  Neos.Flow/Classes/Http/Helper/MediaTypeHelper.php
  Neos.Flow/Classes/Http/Helper/RequestInformationHelper.php
  Neos.Flow/Classes/Http/Helper/ResponseInformationHelper.php
  Neos.Flow/Classes/Http/Helper/SecurityHelper.php
  Neos.Flow/Classes/Http/Helper/UploadedFilesHelper.php
  Neos.Flow/Classes/Http/Helper/UriHelper.php
  Neos.Flow/Classes/Http/Request.php
  Neos.Flow/Classes/Http/RequestHandler.php
  Neos.Flow/Classes/Http/Response.php
  Neos.Flow/Classes/Http/Uri.php
  Neos.Flow/Classes/Log/ThrowableStorage/FileStorage.php
  Neos.Flow/Classes/Mvc/Controller/AbstractController.php
  Neos.Flow/Classes/Mvc/ResponseInterface.php
  Neos.Flow/Classes/Package.php
  Neos.Flow/Classes/Security/Authentication/AuthenticationProviderManager.php
  Neos.Flow/Classes/Security/RequestPattern/CsrfProtection.php
  Neos.Flow/Classes/Session/Aspect/LazyLoadingAspect.php
  Neos.Flow/Classes/Session/CookieEnabledInterface.php
  Neos.Flow/Classes/Session/Http/SessionRequestComponent.php
  Neos.Flow/Classes/Session/Http/SessionResponseComponent.php
  Neos.Flow/Classes/Session/Session.php
  Neos.Flow/Classes/Session/SessionManager.php
  Neos.Flow/Configuration/Objects.yaml
  Neos.Flow/Configuration/Settings.Http.yaml
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Http.rst
  Neos.Flow/Tests/Functional/Security/AuthenticationTest.php
  Neos.Flow/Tests/Functional/Session/SessionManagementTest.php
  Neos.Flow/Tests/Unit/Http/Component/StandardsComplianceComponentTest.php
  Neos.Flow/Tests/Unit/Http/Helper/ResponseInformationHelperTest.php
  Neos.Flow/Tests/Unit/Http/RequestTest.php
  Neos.Flow/Tests/Unit/Security/Authentication/AuthenticationProviderManagerTest.php
  Neos.Flow/Tests/Unit/Session/SessionTest.php
Labels: P: Flow, T: PHP

#1369 !!!BUGFIX: Cyclic validator calls don't lose previous results
  Neos.Flow/Classes/Validation/Validator/AbstractValidator.php
  Neos.Flow/Classes/Validation/Validator/AggregateBoundaryValidator.php
  Neos.Flow/Classes/Validation/Validator/CollectionValidator.php
  Neos.Flow/Classes/Validation/Validator/GenericObjectValidator.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Validation.rst
  Neos.Flow/Tests/Functional/Mvc/ActionControllerTest.php
  Neos.Flow/Tests/Functional/Mvc/Fixtures/Controller/ActionControllerTestBController.php
  Neos.Flow/Tests/Functional/Mvc/Fixtures/Controller/TestObjectArgument.php
Labels: Bug, P: Flow

#1371 BUGFIX: Fix the replacement pattern in updatemediatypes script
  Neos.Utility.MediaTypes/Classes/MediaTypes.php
  Neos.Utility.MediaTypes/Scripts/updatemediatypes.php
Labels: Bug, P: Utility

#1275 FEATURE: Allow specifying validation groups for Collection and Entity validators
  Neos.Flow/Classes/Validation/ValidatorResolver.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Validation.rst
  Neos.Flow/Tests/Functional/Mvc/ActionControllerTest.php
  Neos.Flow/Tests/Functional/Mvc/Fixtures/Controller/ActionControllerTestBController.php
  Neos.Flow/Tests/Functional/Mvc/Fixtures/Controller/TestObjectArgument.php
Labels: P: Flow, T: PHP

#1373 TASK: Document SimpleFileBackend in Flow manual
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Caching.rst
Labels: P: Cache, P: Flow, T: Documentation

#1377 TASK: Speed up lookups in IdentityRoutePart
  Neos.Flow/Classes/Mvc/Routing/ObjectPathMapping.php
  Neos.Flow/Migrations/Mysql/Version20180827132710.php
  Neos.Flow/Migrations/Postgresql/Version20180827132221.php
Labels: P: Flow, T: Database

#1378 BUGFIX: Extend the expected exceptions for missing templates and sections
  Neos.FluidAdaptor/Classes/View/Exception/InvalidSectionException.php
  Neos.FluidAdaptor/Classes/View/Exception/InvalidTemplateResourceException.php
Labels: Bug, P: Fluid(Adaptor)
