Repository neos/flow-development-collection, pull requests merged in 2018-12, with the labels that each got.

#1465 BUGFIX: Remove return type declaration, ask() can return mixed value
  Neos.Flow/Classes/Cli/ConsoleOutput.php
Labels: P: Flow, T: PHP

#1471 TASK: Remove empty documentation parts
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/FileMonitoring.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/LoggingAndDebugging.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Testing.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/index.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIV/index.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/index.rst
  Neos.Flow/Documentation/index.rst
Labels: T: Documentation

#1470 BUGFIX: Fix some markup errors in Caching.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Caching.rst
Labels: T: Documentation

#1473 TASK: PHP 7.3 - Use break instead of continue within a switch case
  Neos.Flow/Classes/ObjectManagement/Proxy/Compiler.php
  Neos.Flow/Classes/Persistence/Generic/DataMapper.php
Labels: P: Flow, T: PHP

#1479 BUGFIX: Make dev collection and neos/flow dependencies match
  Neos.Flow/composer.json
  composer.json
Labels: P: Flow

#1482 TASK: Add image/jp2 to known media types
  Neos.Utility.MediaTypes/Classes/MediaTypes.php
  Neos.Utility.MediaTypes/Scripts/updatemediatypes.php
Labels: P: Utility, T: PHP

#1480 TASK: Fix risky unit test
  Neos.Flow/Tests/Unit/Property/PropertyMapperTest.php
Labels: P: Flow, T: Testing

#1484 BUGFIX: Fix wrong exception message
  Neos.Flow/Classes/ObjectManagement/Configuration/ConfigurationBuilder.php
Labels: P: Flow, T: PHP

#1486 TASK: Fix wrong return type annotation
  Neos.Flow/Classes/Mvc/Controller/Argument.php
Labels: P: Flow, T: PHP
