Repository neos/flow-development-collection, pull requests merged in 2018-11, with the labels that each got.

#1427 TASK: Remove Readme.rst & Upgrading.rst from "installer essentials"
  Neos.Flow/Resources/Private/Installer/Distribution/Essentials/Readme.rst
  Neos.Flow/Resources/Private/Installer/Distribution/Essentials/Upgrading.rst
Labels: P: Flow, T: Documentation

#1431 BUGFIX: Avoid "wrong" error if Redis is unavailable
  Neos.Cache/Classes/Backend/RedisBackend.php
Labels: P: Cache, T: PHP

#1389 TASK: Security code refactoring
  Neos.Flow/Classes/Security/Aspect/LoggingAspect.php
  Neos.Flow/Classes/Security/Authentication/AuthenticationProviderResolver.php
  Neos.Flow/Classes/Security/Authentication/Controller/AbstractAuthenticationController.php
  Neos.Flow/Classes/Security/Authentication/Provider/AbstractProvider.php
  Neos.Flow/Classes/Security/Authentication/Provider/FileBasedSimpleKeyProvider.php
  Neos.Flow/Classes/Security/Authentication/Provider/PersistedUsernamePasswordProvider.php
  Neos.Flow/Classes/Security/Authentication/Token/UsernamePasswordHttpBasic.php
  Neos.Flow/Classes/Security/Authorization/FilterFirewall.php
  Neos.Flow/Classes/Security/Authorization/Interceptor/PolicyEnforcement.php
  Neos.Flow/Classes/Security/Authorization/Privilege/Method/MethodPrivilege.php
  Neos.Flow/Classes/Security/Authorization/Privilege/Method/MethodPrivilegePointcutFilter.php
  Neos.Flow/Classes/Security/Authorization/Privilege/PrivilegeTarget.php
  Neos.Flow/Classes/Security/Authorization/PrivilegeManager.php
  Neos.Flow/Classes/Security/Authorization/PrivilegePermissionResult.php
  Neos.Flow/Classes/Security/Policy/Role.php
  Neos.Flow/Classes/Security/RequestPattern/Ip.php
  Neos.Flow/Classes/Security/SessionDataContainer.php
  Neos.Flow/Tests/Unit/Security/Authentication/AuthenticationProviderResolverTest.php
  Neos.Flow/Tests/Unit/Security/Authorization/FilterFirewallTest.php
Labels: P: Flow, T: PHP

#1384 FEATURE: Setupable Cache Backends
  Neos.Cache/Classes/Backend/PdoBackend.php
  Neos.Cache/Classes/Backend/RedisBackend.php
  Neos.Cache/Classes/Backend/SimpleFileBackend.php
  Neos.Cache/Classes/Backend/WithSetupInterface.php
  Neos.Cache/Classes/Backend/WithStatusInterface.php
  Neos.Cache/Tests/Unit/Backend/PdoBackendTest.php
  Neos.Flow/Classes/Command/CacheCommandController.php
Labels: I: WIP, P: Cache, P: Flow, T: Database, T: PHP, hacktoberfest

#1187 TASK: Adjust XSD domain to neos.io
  Neos.FluidAdaptor/Classes/Command/DocumentationCommandController.php
Labels: I: Discussion, P: Fluid(Adaptor), T: PHP

#196 BUGFIX: Prevent overwriting source files
  Neos.Flow/Classes/ResourceManagement/Target/FileSystemTarget.php
Labels: P: Flow, T: PHP

#1243 FEATURE: Add a method to destroy remote sessions
  Neos.Flow/Classes/Security/AccountRepository.php
  Neos.Flow/Classes/Security/Authentication/AuthenticationProviderManager.php
  Neos.Flow/Classes/Security/Context.php
  Neos.Flow/Tests/Unit/Security/ContextTest.php
Labels: P: Flow, T: PHP

#1454 BUGFIX: Throw MappingException in loadMetaDataForClass
  Neos.Flow/Classes/Persistence/Doctrine/Mapping/Driver/FlowAnnotationDriver.php
Labels: P: Flow, T: Database, T: PHP

#1458 BUGFIX: Tests adapted to new behavior in PackageManger
  Neos.Flow/Tests/Unit/Package/PackageManagerTest.php
  Neos.Flow/Tests/Unit/ResourceManagement/Target/FileSystemTargetTest.php
Labels: T: PHP, T: Testing

#1459 BUGFIX: Fix log environment when used in a closure
  Neos.Flow/Classes/Log/Utility/LogEnvironment.php
Labels: Bug, P: Flow, T: PHP

#1450 BUGFIX: Support the parser halt fluid token
  Neos.FluidAdaptor/Classes/Core/Rendering/RenderingContext.php
Labels: P: Fluid(Adaptor), T: PHP

#1438 BUGFIX: Fix format for json_encoded DateTime conversion
  Neos.Flow/Classes/Property/TypeConverter/DateTimeConverter.php
  Neos.Flow/Tests/Unit/Property/TypeConverter/DateTimeConverterTest.php
Labels: Bug, P: Flow, T: PHP

#1442 BUGFIX: Properly parse `DateTimeImmutable` types
  Neos.Utility.ObjectHandling/Classes/TypeHandling.php
  Neos.Utility.ObjectHandling/Tests/Unit/TypeHandlingTest.php
Labels: Bug, P: Utility, T: PHP

#1460 BUGFIX: Make session caches persistent by default
  Neos.Flow/Classes/Command/CacheCommandController.php
  Neos.Flow/Classes/Command/SessionCommandController.php
  Neos.Flow/Configuration/Caches.yaml
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Caching.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/SessionHandling.rst
Labels: P: Flow

#1323 FEATURE: Add map, reduce, filter, some, every functional helpers to ArrayHelper
  Neos.Eel/Classes/Helper/ArrayHelper.php
  Neos.Eel/Tests/Unit/Helper/ArrayHelperTest.php
Labels: P: Eel, T: PHP

#1401 TASK: Add support for DateTimeImmutable classes mapping with doctrine
  Neos.Flow/Classes/Persistence/Doctrine/Mapping/Driver/FlowAnnotationDriver.php
  Neos.Flow/Tests/Functional/Persistence/Fixtures/ExtendedTypesEntity.php
  Neos.Flow/Tests/Functional/Persistence/PersistenceTest.php
Labels: T: Database, T: PHP

#1444 TASK: Update Doctrine DBAL dependency to 2.8
  Neos.Flow/composer.json
  composer.json
Labels: T: Database, dependencies

#1466 BUGFIX: Revert merge #1442 from neos/albe-typehandling-fix
  Neos.Utility.ObjectHandling/Classes/TypeHandling.php
  Neos.Utility.ObjectHandling/Tests/Unit/TypeHandlingTest.php
Labels: P: Utility, T: PHP
