Repository neos/flow-development-collection, pull requests merged in 2018-04, with the labels that each got.

#1224 TASK: Enable test for log rotation in FileBackend
  Neos.Flow/Tests/Unit/Log/Backend/FileBackendTest.php
Labels: P: Flow, T: Testing

#1241 FEATURE: Allow to use CLDR to format currency
  Neos.Flow/Classes/I18n/Cldr/Reader/CurrencyReader.php
  Neos.Flow/Classes/I18n/Formatter/NumberFormatter.php
  Neos.Flow/Configuration/Caches.yaml
  Neos.Flow/Configuration/Objects.yaml
  Neos.Flow/Tests/Unit/I18n/Cldr/Reader/CurrencyReaderTest.php
  Neos.Flow/Tests/Unit/I18n/Formatter/NumberFormatterTest.php
  Neos.FluidAdaptor/Classes/ViewHelpers/Format/CurrencyViewHelper.php
Labels: P: Flow, P: Fluid(Adaptor), T: PHP

#1240 BUGFIX: IPv6 support in Uri, parse_url and TrustedProxiesComponent
  Neos.Utility.Unicode/Classes/TYPO3/Flow/Utility/Unicode/Functions.php
  Neos.Utility.Unicode/Tests/Unit/FunctionsTest.php
  TYPO3.Flow/Classes/TYPO3/Flow/Http/Component/TrustedProxiesComponent.php
  TYPO3.Flow/Classes/TYPO3/Flow/Http/Uri.php
  TYPO3.Flow/Tests/Unit/Http/Component/TrustedProxiesComponentTest.php
  TYPO3.Flow/Tests/Unit/Http/UriTest.php
Labels: P: Flow, T: PHP

#1248 TASK: Change package name to Neos.Flow
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Caching.rst
Labels: P: Flow, T: Documentation

#1257 TASK: Remove deprecated ``RawViewHelper``
  Neos.FluidAdaptor/Classes/ViewHelpers/Format/RawViewHelper.php
Labels: !!! Next major, P: Fluid(Adaptor), T: PHP

#1259 !!! TASK: Remove deprecated unversioned ``XliffParser``
  Neos.Flow/Classes/I18n/Xliff/XliffParser.php
  Neos.Flow/Tests/Unit/I18n/Xliff/XliffParserTest.php
Labels: !!! Next major, P: Flow, T: PHP

#1249 TASK: Remove deprecated ``setControllerObjectNamePattern``
  Neos.Flow/Classes/Security/RequestPattern/ControllerObjectName.php
Labels: !!! Next major, P: Flow, T: PHP

#1250 TASK: Remove deprecated ``setHostPattern`` method
  Neos.Flow/Classes/Security/RequestPattern/Host.php
Labels: !!! Next major, P: Flow, T: PHP

#1253 !!! TASK: Remove deprecated MediaType handling methods in Request
  Neos.Flow/Classes/Http/Request.php
Labels: !!! Next major, P: Flow, T: PHP

#1255 !!! TASK: Remove deprecated ``ValidationResultsViewHelper``
  Neos.FluidAdaptor/Classes/ViewHelpers/Form/ValidationResultsViewHelper.php
Labels: !!! Next major, P: Fluid(Adaptor), T: PHP

#1256 TASK: Remove commented ``get``/``set`` Pattern
  Neos.Flow/Classes/Security/RequestPatternInterface.php
Labels: !!! Next major, P: Flow, T: PHP

#1251 !!! TASK: Remove deprecated cache parts in Flow
  Neos.Flow/Classes/Cache/Backend/AbstractBackend.php
  Neos.Flow/Classes/Cache/Backend/BackendCompatibilityTrait.php
  Neos.Flow/Classes/Cache/Backend/FileBackend.php
  Neos.Flow/Classes/Cache/Backend/FlowSpecificBackendInterface.php
  Neos.Flow/Classes/Cache/Backend/MemcachedBackend.php
  Neos.Flow/Classes/Cache/Backend/NullBackend.php
  Neos.Flow/Classes/Cache/Backend/PdoBackend.php
  Neos.Flow/Classes/Cache/Backend/RedisBackend.php
  Neos.Flow/Classes/Cache/Backend/SimpleFileBackend.php
  Neos.Flow/Classes/Cache/Backend/TransientMemoryBackend.php
Labels: !!! Next major, P: Cache, P: Flow, T: PHP

#1261 !!! TASK: Remove ``getTemplateVariableContainer`` method
  Neos.FluidAdaptor/Classes/Core/Rendering/RenderingContext.php
Labels: !!! Next major, P: Fluid(Adaptor), T: PHP

#1258 TASK: Remove checks for old (pre 3.0) Policy configuration
  Neos.Flow/Classes/Configuration/ConfigurationManager.php
Labels: !!! Next major, P: Flow, T: PHP

#1254 !!! TASK: Remove deprecated ``getClassNameByObject``
  Neos.Flow/Classes/Reflection/ReflectionService.php
  Neos.Flow/Tests/Unit/Package/PackageManagerTest.php
Labels: !!! Next major, P: Flow, T: PHP

#1262 !!! TASK: Remove ``getValue`` from ``AbstractFormFieldViewHelper``
  Neos.FluidAdaptor/Classes/ViewHelpers/Form/AbstractFormFieldViewHelper.php
Labels: !!! Next major, P: Fluid(Adaptor), T: PHP

#1234 !!!TASK: Only scan Private/Translations for available locales
  Neos.Flow/Configuration/Settings.I18n.yaml
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Internationalization.rst
  Neos.Flow/Tests/Unit/I18n/ServiceTest.php
Labels: P: Flow, T: PHP

#1252 TASK: Remove references to excludeClasses from object management
  Neos.Flow/Classes/ObjectManagement/CompileTimeObjectManager.php
  Neos.Flow/Configuration/Settings.Object.yaml
Labels: !!! Next major, P: Flow, T: PHP

#1041 TASK: Add PHP 7.0 scalar type hints to method arguments and return types [AOP/Cache]
  Neos.Flow/Classes/Aop/Advice/AbstractAdvice.php
  Neos.Flow/Classes/Aop/Advice/AdviceChain.php
  Neos.Flow/Classes/Aop/AdvicesTrait.php
  Neos.Flow/Classes/Aop/Advisor.php
  Neos.Flow/Classes/Aop/AspectContainer.php
  Neos.Flow/Classes/Aop/Builder/AbstractMethodInterceptorBuilder.php
  Neos.Flow/Classes/Aop/Builder/AdvicedConstructorInterceptorBuilder.php
  Neos.Flow/Classes/Aop/Builder/AdvicedMethodInterceptorBuilder.php
  Neos.Flow/Classes/Aop/Builder/ClassNameIndex.php
  Neos.Flow/Classes/Aop/Builder/ProxyClassBuilder.php
  Neos.Flow/Classes/Aop/InterfaceIntroduction.php
  Neos.Flow/Classes/Aop/JoinPoint.php
  Neos.Flow/Classes/Aop/JoinPointInterface.php
  Neos.Flow/Classes/Aop/Pointcut/Pointcut.php
  Neos.Flow/Classes/Aop/Pointcut/PointcutClassAnnotatedWithFilter.php
  Neos.Flow/Classes/Aop/Pointcut/PointcutClassNameFilter.php
  Neos.Flow/Classes/Aop/Pointcut/PointcutClassTypeFilter.php
  Neos.Flow/Classes/Aop/Pointcut/PointcutExpressionParser.php
  Neos.Flow/Classes/Aop/Pointcut/PointcutFilter.php
  Neos.Flow/Classes/Aop/Pointcut/PointcutFilterComposite.php
  Neos.Flow/Classes/Aop/Pointcut/PointcutMethodAnnotatedWithFilter.php
  Neos.Flow/Classes/Aop/Pointcut/PointcutMethodNameFilter.php
  Neos.Flow/Classes/Aop/Pointcut/PointcutSettingFilter.php
  Neos.Flow/Classes/Aop/Pointcut/RuntimeExpressionEvaluator.php
  Neos.Flow/Classes/Aop/PropertyIntroduction.php
  Neos.Flow/Classes/Aop/TraitIntroduction.php
  Neos.Flow/Classes/Cache/CacheManager.php
  Neos.Flow/Classes/Security/Authorization/Privilege/Method/MethodPrivilege.php
  Neos.Flow/Classes/Security/Authorization/Privilege/Method/MethodPrivilegePointcutFilter.php
  Neos.Flow/Classes/Security/Authorization/Privilege/Method/MethodPrivilegeSubject.php
  Neos.Flow/Classes/Security/Authorization/Privilege/Method/MethodTargetExpressionParser.php
  Neos.Flow/Tests/Unit/Aop/Pointcut/PointcutFilterTest.php
  Neos.Flow/Tests/Unit/Aop/Pointcut/PointcutTest.php
Labels: P: Flow, T: PHP

#1042 TASK: Add PHP 7.0 scalar type hints to method arguments and return types [Cli/Command]
  Neos.Flow/Classes/Cli/Command.php
  Neos.Flow/Classes/Cli/CommandArgumentDefinition.php
  Neos.Flow/Classes/Cli/CommandController.php
  Neos.Flow/Classes/Cli/CommandManager.php
  Neos.Flow/Classes/Cli/CommandRequestHandler.php
  Neos.Flow/Classes/Cli/Request.php
  Neos.Flow/Classes/Cli/RequestBuilder.php
  Neos.Flow/Classes/Cli/Response.php
  Neos.Flow/Classes/Cli/SlaveRequestHandler.php
  Neos.Flow/Classes/Command/CacheCommandController.php
  Neos.Flow/Classes/Command/ConfigurationCommandController.php
  Neos.Flow/Classes/Command/CoreCommandController.php
  Neos.Flow/Classes/Command/DatabaseCommandController.php
  Neos.Flow/Classes/Command/DoctrineCommandController.php
  Neos.Flow/Classes/Command/HelpCommandController.php
  Neos.Flow/Classes/Command/PackageCommandController.php
  Neos.Flow/Classes/Command/ResourceCommandController.php
  Neos.Flow/Classes/Command/RoutingCommandController.php
  Neos.Flow/Classes/Command/SchemaCommandController.php
  Neos.Flow/Classes/Command/SecurityCommandController.php
  Neos.Flow/Classes/Command/ServerCommandController.php
  Neos.Flow/Classes/Command/TypeConverterCommandController.php
  Neos.Flow/Tests/Unit/Cli/CommandManagerTest.php
Labels: P: Flow, T: PHP

#1271 TASK: Adjust to PhpUnit 7.1
  Neos.Cache/composer.json
  Neos.Error.Messages/composer.json
  Neos.Flow/Tests/Unit/Security/Policy/PolicyServiceTest.php
  Neos.FluidAdaptor/Tests/Functional/View/StandaloneViewTest.php
  Neos.Utility.Arrays/composer.json
  Neos.Utility.Files/composer.json
  Neos.Utility.Lock/composer.json
  Neos.Utility.MediaTypes/composer.json
  Neos.Utility.ObjectHandling/composer.json
  Neos.Utility.Schema/composer.json
  Neos.Utility.Unicode/composer.json
  composer.json
Labels: P: Flow, P: Fluid(Adaptor), T: Testing

#991 !!!TASK: Add PHP 7.0 scalar type hints to method arguments and return types
  Neos.Cache/Classes/Backend/AbstractBackend.php
  Neos.Cache/Classes/Backend/ApcuBackend.php
  Neos.Cache/Classes/Backend/BackendInterface.php
  Neos.Cache/Classes/Backend/FileBackend.php
  Neos.Cache/Classes/Backend/FreezableBackendInterface.php
  Neos.Cache/Classes/Backend/MemcachedBackend.php
  Neos.Cache/Classes/Backend/NullBackend.php
  Neos.Cache/Classes/Backend/PdoBackend.php
  Neos.Cache/Classes/Backend/PhpCapableBackendInterface.php
  Neos.Cache/Classes/Backend/RedisBackend.php
  Neos.Cache/Classes/Backend/RequireOnceFromValueTrait.php
  Neos.Cache/Classes/Backend/SimpleFileBackend.php
  Neos.Cache/Classes/Backend/TaggableBackendInterface.php
  Neos.Cache/Classes/Backend/TransientMemoryBackend.php
  Neos.Cache/Classes/CacheAwareInterface.php
  Neos.Cache/Classes/CacheFactory.php
  Neos.Cache/Classes/CacheFactoryInterface.php
  Neos.Cache/Classes/Frontend/AbstractFrontend.php
  Neos.Cache/Classes/Frontend/FrontendInterface.php
  Neos.Cache/Classes/Frontend/PhpFrontend.php
  Neos.Cache/Classes/Frontend/StringFrontend.php
  Neos.Cache/Classes/Frontend/VariableFrontend.php
  Neos.Cache/Tests/Unit/Backend/AbstractBackendTest.php
  Neos.Cache/Tests/Unit/Backend/FileBackendTest.php
  Neos.Cache/Tests/Unit/Backend/SimpleFileBackendTest.php
  Neos.Flow/Classes/Cache/CacheFactory.php
  Neos.Flow/Classes/ResourceManagement/PersistentResource.php
  Neos.Flow/Classes/Security/Authorization/Privilege/AbstractPrivilege.php
  Neos.Flow/Migrations/Code/Version20180415105700.php
Labels: !!! Next major, P: Cache, T: PHP

#1272 TASK: Update to Doctrine DBAL 2.7 and ORM 2.6
  Neos.Flow/Classes/Mvc/Routing/ObjectPathMappingRepository.php
  Neos.Flow/Classes/Persistence/Doctrine/Mapping/Driver/FlowAnnotationDriver.php
  Neos.Flow/Classes/Persistence/Doctrine/PersistenceManager.php
  Neos.Flow/Classes/Persistence/Doctrine/Query.php
  Neos.Flow/Classes/Persistence/Doctrine/Repository.php
  Neos.Flow/Classes/Persistence/Doctrine/Service.php
  Neos.Flow/Classes/ResourceManagement/ResourceRepository.php
  Neos.Flow/Classes/Security/Authorization/Privilege/Entity/Doctrine/EntityPrivilege.php
  Neos.Flow/Classes/Security/Authorization/Privilege/Entity/Doctrine/PropertyConditionGenerator.php
  Neos.Flow/Configuration/Objects.yaml
  Neos.Flow/Tests/Functional/Persistence/Doctrine/Mapping/Driver/FlowAnnotationDriverTest.php
  Neos.Flow/Tests/Functional/Persistence/PersistenceTest.php
  Neos.Flow/Tests/Functional/Security/Authorization/Privilege/Entity/Doctrine/EntityPrivilegeExpressionEvaluatorTest.php
  Neos.Flow/Tests/Unit/Persistence/Doctrine/RepositoryTest.php
  Neos.Flow/composer.json
  Neos.Utility.ObjectHandling/composer.json
  composer.json
Labels: T: Database, T: PHP

#1269 FEATURE: Add Forwarded Header support
  Neos.Flow/Classes/Http/Component/TrustedProxiesComponent.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Http.rst
  Neos.Flow/Resources/Private/Schema/Settings/Neos.Flow.http.schema.yaml
  Neos.Flow/Tests/Unit/Http/Component/TrustedProxiesComponentTest.php
Labels: P: Flow, T: PHP

#1168 FEATURE: Add PSR-6 and PSR-16 support to cache framework
  Neos.Cache/Classes/BackendInstantiationTrait.php
  Neos.Cache/Classes/CacheFactory.php
  Neos.Cache/Classes/Exception.php
  Neos.Cache/Classes/Psr/Cache/CacheFactory.php
  Neos.Cache/Classes/Psr/Cache/CacheItem.php
  Neos.Cache/Classes/Psr/Cache/CachePool.php
  Neos.Cache/Classes/Psr/InvalidArgumentException.php
  Neos.Cache/Classes/Psr/SimpleCache/SimpleCache.php
  Neos.Cache/Classes/Psr/SimpleCache/SimpleCacheFactory.php
  Neos.Cache/Readme.md
  Neos.Cache/Readme.rst
  Neos.Cache/Tests/Unit/Psr/Cache/CachePoolTest.php
  Neos.Cache/Tests/Unit/Psr/SimpleCache/SimpleCacheFactoryTest.php
  Neos.Cache/Tests/Unit/Psr/SimpleCache/SimpleCacheTest.php
  Neos.Cache/composer.json
  Neos.Flow/Classes/Cache/CacheFactory.php
  composer.json
Labels: P: Cache, P: Flow, T: PHP

#1267 !!!TASK: Change default charset and collation to utf8mb4
  .travis.yml
  Neos.Flow/Classes/Command/DatabaseCommandController.php
  Neos.Flow/Configuration/Settings.Persistence.yaml
  Neos.Flow/Documentation/TheDefinitiveGuide/PartII/Controller.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartII/Kickstart.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartII/Requirements.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartV/CommandReference.rst
  Neos.Flow/Migrations/Mysql/Version20110613223837.php
  Neos.Flow/Migrations/Mysql/Version20110920125736.php
  Neos.Flow/Migrations/Mysql/Version20120625211647.php
  Neos.Flow/Migrations/Mysql/Version20130319131400.php
  Neos.Flow/Migrations/Mysql/Version20141015125841.php
  Neos.Flow/Migrations/Mysql/Version20141113173712.php
  Neos.Flow/Migrations/Mysql/Version20150129225152.php
  Neos.Flow/Resources/Private/Installer/Distribution/Essentials/Configuration/Settings.yaml.example
Labels: P: Flow, T: Database, T: PHP

#1280 !!! TASK: Cleanup in package management
  Neos.Flow/Classes/Command/PackageCommandController.php
  Neos.Flow/Classes/Command/SchemaCommandController.php
  Neos.Flow/Classes/Composer/ComposerUtility.php
  Neos.Flow/Classes/Configuration/ConfigurationManager.php
  Neos.Flow/Classes/Configuration/ConfigurationSchemaValidator.php
  Neos.Flow/Classes/Core/Booting/Scripts.php
  Neos.Flow/Classes/I18n/Service.php
  Neos.Flow/Classes/I18n/Xliff/Service/XliffFileProvider.php
  Neos.Flow/Classes/ObjectManagement/CompileTimeObjectManager.php
  Neos.Flow/Classes/Package.php
  Neos.Flow/Classes/Package/BootablePackageInterface.php
  Neos.Flow/Classes/Package/FlowPackageInterface.php
  Neos.Flow/Classes/Package/GenericPackage.php
  Neos.Flow/Classes/Package/Package.php
  Neos.Flow/Classes/Package/PackageFactory.php
  Neos.Flow/Classes/Package/PackageInterface.php
  Neos.Flow/Classes/Package/PackageKeyAwareInterface.php
  Neos.Flow/Classes/Package/PackageManager.php
  Neos.Flow/Classes/Package/PackageManagerInterface.php
  Neos.Flow/Classes/ResourceManagement/Storage/PackageStorage.php
  Neos.Flow/Classes/ResourceManagement/Streams/ResourceStreamWrapper.php
  Neos.Flow/Configuration/Objects.yaml
  Neos.Flow/Resources/Private/Schema/Schema.schema.yaml
  Neos.Flow/Tests/Functional/Configuration/SchemaValidationTest.php
  Neos.Flow/Tests/Functional/I18n/Xliff/Service/XliffFileProviderTest.php
  Neos.Flow/Tests/Unit/Configuration/ConfigurationManagerTest.php
  Neos.Flow/Tests/Unit/I18n/ServiceTest.php
  Neos.Flow/Tests/Unit/Package/PackageManagerTest.php
  Neos.Flow/Tests/Unit/Package/PackageTest.php
  Neos.Flow/Tests/Unit/ResourceManagement/Streams/ResourceStreamWrapperTest.php
  Neos.FluidAdaptor/Classes/Package.php
  Neos.Kickstarter/Classes/Service/GeneratorService.php
  Neos.Utility.Schema/Configuration/Objects.yaml
Labels: !!! Next major, P: Flow, T: PHP

#415 !!!TASK: Implicit joins in a query makes the result set distinct by default
  Neos.Flow/Classes/Persistence/Doctrine/Query.php
  Neos.Flow/Tests/Functional/Persistence/Doctrine/QueryTest.php
Labels: P: Flow, T: Database

#1230 BUGFIX: Detect checked state for bound object collections
  Neos.FluidAdaptor/Classes/ViewHelpers/Form/CheckboxViewHelper.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/CheckboxViewHelperTest.php
Labels: P: Fluid(Adaptor), T: PHP

#1192 TASK: Move object validation out of PersistenceManager
  Neos.Flow/Classes/Persistence/Doctrine/ObjectValidationAndDeDuplicationListener.php
  Neos.Flow/Classes/Persistence/Doctrine/PersistenceManager.php
  Neos.Flow/Configuration/Settings.yaml
Labels: P: Flow, T: Database, T: PHP

#1273 !!!TASK: Safe trusted proxies default value
  Neos.Flow/Classes/Http/Component/TrustedProxiesComponent.php
  Neos.Flow/Configuration/Settings.Http.yaml
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Http.rst
Labels: P: Flow

#1088 BUGFIX: Respect given locale when checking general translation path
  Neos.Flow/Classes/I18n/Xliff/Service/XliffFileProvider.php
  Neos.Flow/Configuration/Settings.yaml
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Internationalization.rst
  Neos.Flow/Resources/Private/Schema/Settings/Neos.Flow.i18n.schema.yaml
  Neos.Flow/Tests/Functional/I18n/Xliff/Fixtures/de/BasePackage.GlobalOverride.xlf
  Neos.Flow/Tests/Functional/I18n/Xliff/Fixtures/en/BasePackage.GlobalOverride.Global.xlf
  Neos.Flow/Tests/Functional/I18n/Xliff/Fixtures/en/BasePackage.GlobalOverride.xlf
  Neos.Flow/Tests/Functional/I18n/Xliff/Service/XliffFileProviderTest.php
Labels: P: Flow, T: PHP

#1270 TASK: Make HTTP Request getClientIpAddress() use the request attribute value
  Neos.Flow/Classes/Http/Request.php
  Neos.Flow/Tests/Unit/Http/Component/TrustedProxiesComponentTest.php
Labels: P: Flow, T: PHP

#1285 BUGFIX: Wrong type hint on replacePlaceholders
  Neos.Flow/Classes/Configuration/ConfigurationManager.php
  Neos.Flow/Tests/Unit/Configuration/ConfigurationManagerTest.php
Labels: P: Flow, T: PHP

#1286 BUGFIX: Render debugger-styles directly with first debug-output
  Neos.Flow/Classes/Error/Debugger.php
Labels: Bug, P: Flow

#1282 FEATURE: Allow specifying a list of available Locales via settings
  Neos.Flow/Classes/I18n/Service.php
  Neos.Flow/Configuration/Settings.I18n.yaml
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Internationalization.rst
  Neos.Flow/Resources/Private/Schema/Settings/Neos.Flow.i18n.schema.yaml
Labels: Feature, P: Flow

#1290 TASK: Add test for empty resource upload
  Neos.Flow/Tests/Unit/ResourceManagement/ResourceTypeConverterTest.php
Labels: P: Flow, T: Testing

#1294 TASK: Adjust (upgrade) docs to 5.0 release
  Neos.Flow/Documentation/TheDefinitiveGuide/PartV/ReleaseNotes/500.rst
  Neos.Flow/Resources/Private/Installer/Distribution/Essentials/Readme.rst
  Neos.Flow/Resources/Private/Installer/Distribution/Essentials/Upgrading.rst
Labels: !!! Next major, T: Documentation

#1297 TASK: Remove dummy assertions from tests
  Neos.Flow/Configuration/Settings.Reflection.yaml
  Neos.Flow/Tests/Functional/Persistence/PersistenceTest.php
  Neos.Flow/Tests/Functional/Reflection/ReflectionServiceTest.php
  Neos.Flow/Tests/Functional/Session/SessionManagementTest.php
  Neos.Flow/Tests/Unit/Error/DebuggerTest.php
  Neos.Flow/Tests/Unit/Http/Component/ComponentChainTest.php
  Neos.Flow/Tests/Unit/Http/HeadersTest.php
  Neos.Flow/Tests/Unit/Http/RequestTest.php
  Neos.Flow/Tests/Unit/Mvc/Controller/MvcPropertyMappingConfigurationServiceTest.php
  Neos.Flow/Tests/Unit/Property/PropertyMapperTest.php
  Neos.Flow/Tests/Unit/Reflection/ClassSchemaTest.php
  Neos.Flow/Tests/Unit/ResourceManagement/Storage/WritableFileSystemStorageTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/AbstractFormFieldViewHelperTest.php
Labels: P: Flow, P: Fluid(Adaptor), T: Testing

#1300 BUGFIX: Fix broken cache get/set in RedisBackend
  Neos.Cache/Classes/Backend/RedisBackend.php
Labels: P: Cache, T: PHP

#1299 BUGFIX: Make $referenceCode nullable in ProductionExceptionHandler
  Neos.Flow/Classes/Error/ProductionExceptionHandler.php
Labels: P: Flow, T: PHP
