Repository neos/flow-development-collection, pull requests merged in 2018-03, with the labels that each got.

#1225 TASK: Pass affected entities to flush as array, not one-by-one
  Neos.Flow/Classes/Mvc/Routing/ObjectPathMappingRepository.php
Labels: P: Flow, T: Database, T: PHP

#1218 FEATURE: Add APCu cache backend
  Neos.Cache/Classes/Backend/ApcuBackend.php
  Neos.Cache/Tests/Unit/Backend/ApcuBackendTest.php
  Neos.Flow/Classes/Cache/Backend/ApcBackend.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Caching.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/SessionHandling.rst
Labels: P: Cache, T: PHP

#1235 BUGFIX: Set orphanRemoval for non-AggregateRoots
  TYPO3.Flow/Classes/TYPO3/Flow/Persistence/Doctrine/Mapping/Driver/FlowAnnotationDriver.php
Labels: Bug, P: Flow, T: Database
