Repository neos/flow-development-collection, pull requests merged in 2019-05, with the labels that each got.

#1567 [SECURITY] Avoid OpenSSL padding oracle attacks
  TYPO3.Flow/Classes/TYPO3/Flow/Security/Cryptography/RsaWalletServicePhp.php
  TYPO3.Flow/Configuration/Settings.yaml
  TYPO3.Flow/Tests/Unit/Security/Cryptography/RsaWalletServicePhpTest.php
Labels: P: Flow, T: PHP

#1569 TASK: Fix name of index on PersistentResource.sha1
  Neos.Flow/Classes/ResourceManagement/PersistentResource.php
Labels: I: WIP, P: Flow, T: Database, T: PHP

#1575 TASK: Raise PHP minimum dependency to version 7.2
  Neos.Cache/composer.json
  Neos.Eel/composer.json
  Neos.Error.Messages/composer.json
  Neos.Flow.Log/composer.json
  Neos.Flow/composer.json
  Neos.FluidAdaptor/composer.json
  Neos.Kickstarter/composer.json
  Neos.Utility.Arrays/composer.json
  Neos.Utility.Files/composer.json
  Neos.Utility.Lock/composer.json
  Neos.Utility.MediaTypes/composer.json
  Neos.Utility.ObjectHandling/composer.json
  Neos.Utility.OpcodeCache/composer.json
  Neos.Utility.Pdo/composer.json
  Neos.Utility.Schema/composer.json
  Neos.Utility.Unicode/composer.json
  composer.json
Labels: !!! Next major

#1573 BUGFIX: Avoid PHP exception in NamespaceDetectionTemplateProcessor
  Neos.FluidAdaptor/Classes/Core/Parser/TemplateProcessor/NamespaceDetectionTemplateProcessor.php
Labels: P: Fluid(Adaptor), T: PHP

#1579 BUGFIX: Fix non-deterministic functional test
  Neos.Flow/Tests/Functional/Security/Authentication/Provider/PersistedUsernamePasswordProviderTest.php
Labels: P: Flow, T: Testing

#1555 BUGFIX: Use source as target if target-language is empty in XLIFF
  Neos.Flow/Classes/I18n/Xliff/Model/FileAdapter.php
  Neos.Flow/Classes/I18n/Xliff/V12/XliffParser.php
  Neos.Flow/Tests/Unit/I18n/Fixtures/MockParsedXliffData.php
Labels: I: Discussion, P: Flow, T: PHP

#1580 !!! FEATURE: Add function helpers to Eel and remove magic `q`
  Neos.Eel/Classes/FlowQuery/FlowQuery.php
  Neos.Eel/Classes/Utility.php
Labels: !!! Next major, P: Eel

#1582 BUGFIX: Accept valid settings rejected by broken schema
  Neos.Flow/Resources/Private/Schema/Settings/Neos.Flow.http.schema.yaml
  Neos.Flow/Resources/Private/Schema/Settings/Neos.Flow.security.schema.yaml
Labels: P: Flow

#1581 BUGFIX: Remove deprecated PhpUnit functions from tests
  Neos.Flow/Tests/Functional/I18n/Cldr/CldrRepositoryTest.php
  Neos.Flow/Tests/Functional/Persistence/PersistenceTest.php
  Neos.Flow/Tests/Unit/Http/BrowserTest.php
  Neos.Flow/Tests/Unit/I18n/Cldr/CldrRepositoryTest.php
  Neos.Flow/Tests/Unit/Persistence/Generic/DataMapperTest.php
  Neos.Flow/Tests/Unit/Persistence/Generic/PersistenceManagerTest.php
  Neos.Flow/Tests/Unit/ResourceManagement/Streams/ResourceStreamWrapperTest.php
  Neos.Utility.ObjectHandling/Tests/Unit/ObjectAccessTest.php
Labels: T: PHP, T: Testing

#1584 BUGFIX: Remove Doctrine from require-dev
  composer.json
Labels: Bug, dependencies

#1578 !!! TASK: Remove registerRenderMethodArguments() from AbstractViewHelper
  Neos.FluidAdaptor/Classes/Core/ViewHelper/AbstractViewHelper.php
  Neos.FluidAdaptor/Classes/Core/ViewHelper/ArgumentDefinition.php
  Neos.FluidAdaptor/Classes/ViewHelpers/Form/AbstractFormFieldViewHelper.php
  Neos.FluidAdaptor/Classes/ViewHelpers/Form/UploadViewHelper.php
  Neos.FluidAdaptor/Classes/ViewHelpers/RenderChildrenViewHelper.php
  Neos.FluidAdaptor/Classes/ViewHelpers/Widget/AutocompleteViewHelper.php
  Neos.FluidAdaptor/Classes/ViewHelpers/Widget/LinkViewHelper.php
  Neos.FluidAdaptor/Classes/ViewHelpers/Widget/PaginateViewHelper.php
  Neos.FluidAdaptor/Classes/ViewHelpers/Widget/UriViewHelper.php
  Neos.FluidAdaptor/Tests/Functional/Core/Fixtures/ViewHelpers/SomeAjaxViewHelper.php
  Neos.FluidAdaptor/Tests/Functional/Core/WidgetTest.php
  Neos.FluidAdaptor/Tests/Unit/Core/Fixtures/TestViewHelper.php
  Neos.FluidAdaptor/Tests/Unit/Core/Fixtures/TestViewHelper2.php
  Neos.FluidAdaptor/Tests/Unit/Core/ViewHelper/AbstractViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/Core/ViewHelper/ArgumentDefinitionTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/FlashMessagesViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/AbstractFormFieldViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/ButtonViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/CheckboxViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/PasswordViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/RadioViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/UploadViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/FormViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Format/BytesViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Format/CaseViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Format/CropViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Format/CurrencyViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Format/DateViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Format/HtmlentitiesDecodeViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Format/HtmlentitiesViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Format/IdentifierViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Format/JsonViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Format/Nl2brViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Format/NumberViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Format/PaddingViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Format/StripTagsViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Format/UrlencodeViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Link/ActionViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Link/EmailViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Link/ExternalViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/RenderChildrenViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/TranslateViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Uri/ActionViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Uri/EmailViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Uri/ExternalViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Uri/ResourceViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Validation/ResultsViewHelperTest.php
  Neos.Kickstarter/Classes/ViewHelpers/Format/LtrimViewHelper.php
  Neos.Kickstarter/Classes/ViewHelpers/Inflect/HumanizeCamelCaseViewHelper.php
Labels: !!! Next major, P: Fluid(Adaptor), T: PHP

#1574 !!! TASK: Remove deprecated legacy logger
  Neos.Flow.Log/Classes/DefaultLogger.php
  Neos.Flow.Log/Tests/Unit/LoggerTest.php
  Neos.Flow.Log/Tests/Unit/Psr/LoggerTest.php
  Neos.Flow/Classes/Core/Booting/Scripts.php
  Neos.Flow/Classes/Error/AbstractExceptionHandler.php
  Neos.Flow/Classes/Log/Logger.php
  Neos.Flow/Classes/Log/LoggerBackendConfigurationHelper.php
  Neos.Flow/Classes/Log/LoggerFactory.php
  Neos.Flow/Classes/Log/PsrSecurityLoggerInterface.php
  Neos.Flow/Classes/Log/PsrSystemLoggerInterface.php
  Neos.Flow/Classes/Log/SecurityLoggerInterface.php
  Neos.Flow/Classes/Log/SystemLoggerInterface.php
  Neos.Flow/Classes/Log/ThrowableLoggerInterface.php
  Neos.Flow/Classes/Mvc/Controller/ActionController.php
  Neos.Flow/Classes/Persistence/Generic/Backend/AbstractBackend.php
  Neos.Flow/Configuration/Objects.yaml
  Neos.Flow/Configuration/Settings.Log.yaml
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/ObjectManagement.rst
  Neos.Flow/Migrations/Code/Version20190515215000.php
  Neos.Flow/Resources/Private/Schema/Settings/Neos.Flow.log.schema.yaml
  Neos.Flow/Tests/Unit/Error/AbstractExceptionHandlerTest.php
  Neos.FluidAdaptor/Classes/Core/ViewHelper/AbstractViewHelper.php
Labels: !!! Next major, T: PHP

#1589 !!! TASK: More logging deprecation removals
  Neos.Flow.Log/Classes/Backend/AbstractBackend.php
  Neos.Flow.Log/Classes/LoggerInterface.php
Labels: !!! Next major, P: Flow, T: PHP

#1588 !!! TASK: Add createWithOptions() to ThrowableStorageInterface
  Neos.Flow/Classes/Log/ThrowableStorage/FileStorage.php
  Neos.Flow/Classes/Log/ThrowableStorageInterface.php
Labels: !!! Next major, P: Flow, T: PHP

#1592 !!! TASK: Remove ObjectManager.getSettingsByPath()
  Neos.Flow/Classes/Aop/Pointcut/PointcutFilterComposite.php
  Neos.Flow/Classes/ObjectManagement/DependencyInjection/ProxyClassBuilder.php
  Neos.Flow/Classes/ObjectManagement/ObjectManager.php
  Neos.Flow/Tests/Unit/Aop/Pointcut/PointcutFilterCompositeTest.php
Labels: !!! Next major, P: Flow, T: PHP

#1577 !!! TASK: Remove deprecated methods from AuthenticationManagerInterface
  Neos.Flow/Classes/Security/Authentication/AuthenticationManagerInterface.php
  Neos.Flow/Classes/Security/Authentication/AuthenticationProviderManager.php
  Neos.Flow/Tests/Behavior/Features/Bootstrap/SecurityOperationsTrait.php
Labels: !!! Next major, P: Flow, T: PHP

#1594 TASK: Restrict allowed classes in unserialize call
  Neos.Flow/Classes/Security/Cryptography/RsaWalletServicePhp.php
Labels: P: Flow, T: PHP

#1451 TASK: Translator uses locale chain
  Neos.Flow/Classes/I18n/Translator.php
  Neos.Flow/Tests/Unit/I18n/TranslatorTest.php
Labels: P: Flow, T: PHP

#1595 !!! TASK: Remove CompilableInterface from FluidAdaptor
  Neos.FluidAdaptor/Classes/Core/ViewHelper/Facets/CompilableInterface.php
Labels: !!! Next major, P: Fluid(Adaptor), T: PHP

#1593 !!! TASK: Remove PackageManagerInterface
  Neos.Flow/Classes/Core/Booting/Scripts.php
  Neos.Flow/Classes/Package/PackageManager.php
  Neos.Flow/Classes/Package/PackageManagerInterface.php
  Neos.Flow/Configuration/Objects.yaml
Labels: !!! Next major, P: Flow, T: PHP

#1587 TASK: Add section for configuration of trusted proxies in container
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Http.rst
Labels: P: Flow, T: Documentation

#1551 !!!TASK: Remove doctrine ObjectManager injection support
  Neos.Flow/Classes/ObjectManagement/ObjectManager.php
  Neos.Flow/Configuration/Objects.yaml
  Neos.Flow/Tests/Functional/ObjectManagement/Fixtures/ClassWithDoctrineInjections.php
  Neos.Flow/Tests/Functional/ObjectManagement/ObjectManagerTest.php
Labels: !!! Next major, P: Flow, T: PHP

#1600 BUGFIX: Avoid problem loading files in SimpleXML
  Neos.Flow/Classes/I18n/AbstractXmlParser.php
Labels: P: Flow, T: PHP

#1391 BUGFIX: Flow CLI command warns of mismatching php version
  Neos.Flow/Classes/Core/Booting/Scripts.php
Labels: Bug, P: Flow, T: PHP
