Repository neos/flow-development-collection, pull requests merged in 2019-08, with the labels that each got.

#1658 FEATURE: Add psalm static code analysis to travis matrix
  .travis.yml
  Neos.Eel/Classes/FlowQuery/Operations/AbstractOperation.php
  Neos.Flow/Classes/Log/Utility/LogEnvironment.php
  Neos.Flow/Classes/Persistence/Doctrine/Query.php
  Neos.FluidAdaptor/Classes/ViewHelpers/Security/IfAccessViewHelper.php
  Neos.Utility.OpcodeCache/Classes/OpcodeCacheHelper.php
  composer.json
  psalm-baseline.xml
  psalm.xml
Labels: Feature, T: Testing

#1675 TASK: Make array indexing difference more visible
  Neos.Utility.Schema/Classes/SchemaValidator.php
Labels: P: Utility, T: PHP

#1674 BUGFIX: Avoid unsupported operand types error
  Neos.Flow/Classes/Session/Session.php
  Neos.Flow/Tests/Unit/Session/SessionTest.php
Labels: Bug, P: Flow, T: PHP

#1689 !!! TASK: Enable `subdivideHashPathSegment` and `relativeSymlinks` by default
  Neos.Flow/Configuration/Settings.Resource.yaml
Labels: !!! Next major, P: Flow

#1697 TASK: Update psalm baseline
  psalm-baseline.xml
Labels: P: Flow, T: Testing

#1723 TASK: Some slight adjustments to the Http documentation
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Http.rst
Labels: P: Flow, T: Documentation

#1615 !!! BUGFIX: Don't start session for sessionless tokens
  Neos.Flow/Classes/Http/Component/SecurityEntryPointComponent.php
Labels: Bug, P: Flow

#1719 TASK: Make use of `hasTitle` method to check message title existence
  Neos.Flow/Classes/Command/CacheCommandController.php
Labels: P: Flow, T: PHP

#1683 BUGFIX: Allow a single '*' entry in trustedProxies
  Neos.Flow/Classes/Http/Component/TrustedProxiesComponent.php
Labels: Bug, P: Flow, T: PHP

#1742 BUGFIX: Make ScriptsMock::buildSubprocessCommand signature match parent
  Neos.Flow/Tests/Unit/Core/Booting/ScriptsTest.php
Labels: Bug, P: Flow, T: PHP
