Repository neos/flow-development-collection, pull requests merged in 2019-01, with the labels that each got.

#1492 BUGFIX: Verify the existence of the `repositories` section in the composer manifest before searching for local packages path
  Neos.Flow/Classes/Package/PackageManager.php
Labels: Bug, P: Flow, T: PHP

#1490 FEATURE: Make recursion limit for the debugger configurable via Settings
  Neos.Flow/Classes/Error/Debugger.php
  Neos.Flow/Configuration/Settings.Error.yaml
  Neos.Flow/Resources/Private/Schema/Settings/Neos.Flow.error.schema.yaml
Labels: P: Flow, T: PHP, T: Testing

#1495 TASK: Use proper dummy hash in PersistedUsernamePasswordProvider
  Neos.Flow/Classes/Security/Authentication/Provider/PersistedUsernamePasswordProvider.php
Labels: P: Flow, T: PHP

#1487 TASK: Allow contains expression on entity properties
  Neos.Flow/Classes/Security/Authorization/Privilege/Entity/Doctrine/PropertyConditionGenerator.php
  Neos.Flow/Configuration/Testing/Policy.yaml
  Neos.Flow/Tests/Functional/Security/Authorization/Privilege/Entity/Doctrine/ContentSecurityTest.php
  Neos.Flow/Tests/Functional/Security/Authorization/Privilege/Entity/Doctrine/EntityPrivilegeExpressionEvaluatorTest.php
  Neos.Flow/Tests/Functional/Security/Fixtures/TestEntityD.php
Labels: P: Flow, T: PHP

#1483 TASK: Avoid code migration error if source file does not exist
  Neos.Flow/Scripts/Migrations/AbstractMigration.php
Labels: P: Flow, T: PHP
