Repository neos/flow-development-collection, pull requests merged in 2019-11, with the labels that each got.

#1801 BUGFIX: Allow to return PSR7 streams and PHP resources/file handles from action
  Neos.Flow/Classes/Mvc/Controller/ActionController.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/ModelViewController.rst
Labels: P: Flow, T: PHP

#1802 BUGFIX: Handle file streams in response better
  Neos.Flow/Classes/Http/RequestHandler.php
Labels: Bug

#1837 BUGFIX: Always run composer from Flow root path
  Neos.Flow/Classes/Package/PackageManager.php
  Neos.Flow/composer.json
  composer.json
Labels: P: Flow, T: PHP

#1828 TASK: Use isUninitializedProxy() (adjust to #1611)
  Neos.Flow/Classes/Validation/Validator/AggregateBoundaryValidator.php
Labels: P: Flow, T: PHP

#1839 BUGFIX: fix linking to root domains (empty path), by generating a "/" URL
  Neos.Flow/Classes/Mvc/Routing/Dto/UriConstraints.php
  Neos.Flow/Tests/Functional/Mvc/Fixtures/Controller/UriBuilderController.php
  Neos.Flow/Tests/Functional/Mvc/UriBuilderTest.php
  Neos.Flow/Tests/Unit/Mvc/Routing/Dto/UriConstraintsTest.php
Labels: P: Flow, T: PHP, T: Testing

#1842 TASK: Use yield instead of AppendIterator in getObjects
  Neos.Flow/Classes/ResourceManagement/Collection.php
Labels: P: Flow, T: PHP

#1816 BUGFIX: Do not renew session id for sessionless tokens being authenti…
  Neos.Flow/Classes/Package.php
Labels: P: Flow, T: PHP

#1853 BUGFIX: Check existence and disable new rendering limitations
  Neos.Flow/Classes/Cli/ConsoleOutput.php
Labels: P: Flow, T: PHP

#1849 FEATURE: Allow StringLengthValidator to ignore HTML tags
  Neos.Flow/Classes/Validation/Validator/StringLengthValidator.php
  Neos.Flow/Tests/Unit/Validation/Validator/StringLengthValidatorTest.php
Labels: P: Flow, T: PHP

#1856 TASK: Remove version number from ext-json dependency
  Neos.Flow/composer.json
  composer.json
Labels: P: Flow, dependencies

#1825 FEATURE: Allow split sources for all configurations
  Neos.Flow/Classes/Configuration/ConfigurationManager.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Configuration.rst
Labels: Feature, P: Flow, T: PHP
