Repository neos/flow-development-collection, pull requests merged in 2019-10, with the labels that each got.

#1798 BUGFIX: Check for AbstractLazyCollection in CollectionValidator
  Neos.Flow/Classes/Validation/Validator/CollectionValidator.php
  Neos.Flow/Tests/Unit/Validation/Validator/CollectionValidatorTest.php
Labels: Bug, P: Flow, T: Database

#1799 TASK: Set psalm baseline
  Neos.Flow/Classes/Aop/Pointcut/PointcutMethodNameFilter.php
  Neos.Flow/Classes/Persistence/Doctrine/DataTypes/JsonArrayType.php
  Neos.Flow/Classes/Persistence/Doctrine/DataTypes/ObjectArray.php
  Neos.Flow/Classes/Persistence/Doctrine/Mapping/Driver/FlowAnnotationDriver.php
  Neos.Flow/Classes/Property/TypeConverter/AbstractTypeConverter.php
  Neos.Flow/Classes/Property/TypeConverter/ObjectConverter.php
  Neos.Flow/Classes/Property/TypeConverter/PersistentObjectConverter.php
  psalm-baseline.xml
Labels: P: Flow, T: Testing

#1812 TASK: Mention the basic development setup steps in the readme
  Readme.rst
Labels: T: Documentation

#1810 BUGFIX: Don't overwrite previous Set-Cookie headers in the session component
  Neos.Flow/Classes/Session/Http/SessionResponseComponent.php
Labels: Bug, P: Flow, T: PHP

#1813 TASK: Clarify explanation of ignoredTables setting
  Neos.Flow/Configuration/Settings.yaml
Labels: P: Flow, T: Documentation

#1811 BUGFIX: Add the FlashMessageComponent to http chain
  Neos.Flow/Configuration/Settings.Http.yaml
  Neos.Flow/Configuration/Settings.Mvc.yaml
Labels: Bug

#1818 TASK: Extract inferDiscriminatorTypeFromClassName() method
  Neos.Flow/Classes/Persistence/Doctrine/Mapping/Driver/FlowAnnotationDriver.php
Labels: P: Flow, T: PHP

#1822 BUGFIX: Prevent error when iterating header keys
  Neos.Flow/Classes/Http/Headers.php
Labels: Bug

#1820 BUGFIX: Fix setting sub-package key in ActionRequest
  Neos.Flow/Classes/Mvc/ActionRequest.php
  Neos.Flow/Classes/Mvc/Controller/AbstractController.php
  Neos.Flow/Classes/Mvc/Routing/UriBuilder.php
  Neos.Flow/Tests/Unit/Mvc/Routing/UriBuilderTest.php
Labels: P: Flow, T: PHP

#1830 BUGFIX: Fix @return annotation on getObjects()
  Neos.Flow/Classes/ResourceManagement/Collection.php
  Neos.Flow/Classes/ResourceManagement/CollectionInterface.php
Labels: P: Flow, T: Documentation, T: PHP
