Repository neos/flow-development-collection, pull requests merged in 2019-07, with the labels that each got.

#1623 FEATURE: Allow overwriting instead of merging in arrayMergeRecursiveWithCallback
  Neos.Utility.Arrays/Classes/Arrays.php
  Neos.Utility.Arrays/Tests/Unit/ArraysTest.php
Labels: Feature, P: Utility, T: PHP

#1660 TASK: Safelist branches for travis builds
  .travis.yml
Labels: T: Testing

#1638 TASK: Loosen typo3 fluid dependency
  Neos.FluidAdaptor/Classes/Core/Parser/TemplateProcessor/NamespaceDetectionTemplateProcessor.php
  composer.json
Labels: P: Fluid(Adaptor), dependencies

#1669 TASK: Bring dependencies in line with main dependencies
  Neos.Utility.Arrays/Tests/Unit/ArraysTest.php
  Neos.Utility.ObjectHandling/composer.json
Labels: P: Utility, dependencies

#1612 FEATURE: Allow custom date formatting in DateTimeRangeValidator messages
  Neos.Flow/Classes/Validation/Validator/DateTimeRangeValidator.php
  Neos.Flow/Resources/Private/Translations/af/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/ar/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/ca/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/cs/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/da/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/de/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/el/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/en/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/es/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/fi/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/fr/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/he/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/hi/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/hu/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/id_ID/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/it/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/ja/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/kk_KZ/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/km/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/ko/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/la/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/lv/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/mr/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/nl/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/no/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/pl/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/ps/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/pt/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/pt_BR/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/ro/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/ru/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/sr/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/sv/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/tl_PH/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/tr/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/uk/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/vi/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/zh/ValidationErrors.xlf
  Neos.Flow/Resources/Private/Translations/zh_TW/ValidationErrors.xlf
Labels: P: Flow

#1663 BUGFIX: Omit sessionless tokens from session
  Neos.Flow/Classes/Security/Context.php
  Neos.Flow/Tests/Unit/Security/ContextTest.php
Labels: Bug, P: Flow

#1662 BUGFIX: Omit sessionless tokens from session
  Neos.Flow/Classes/Security/Context.php
  Neos.Flow/Classes/Security/SessionDataContainer.php
  Neos.Flow/Tests/Unit/Security/ContextTest.php
  Neos.Flow/Tests/Unit/Security/SessionDataContainerTest.php
Labels: Bug, P: Flow, T: PHP

#1673 BUGFIX: Automatically map DateTimeInterface to ORM type
  Neos.Flow/Classes/Persistence/Doctrine/Mapping/Driver/FlowAnnotationDriver.php
  Neos.Flow/Tests/Functional/Persistence/Fixtures/ExtendedTypesEntity.php
  Neos.Flow/Tests/Functional/Persistence/PersistenceTest.php
Labels: !!! Next major, Bug, P: Flow, T: Database

#1329 !!! TASK: Add typehint to allowsCallOfMethod(…)
  Neos.Cache/Classes/BackendInstantiationTrait.php
  Neos.Eel/Classes/FlowQuery/FlowQuery.php
  Neos.Eel/Classes/Helper/ArrayHelper.php
  Neos.Eel/Classes/Helper/ConfigurationHelper.php
  Neos.Eel/Classes/Helper/DateHelper.php
  Neos.Eel/Classes/Helper/FileHelper.php
  Neos.Eel/Classes/Helper/JsonHelper.php
  Neos.Eel/Classes/Helper/MathHelper.php
  Neos.Eel/Classes/Helper/SecurityHelper.php
  Neos.Eel/Classes/Helper/StringHelper.php
  Neos.Eel/Classes/Helper/TypeHelper.php
  Neos.Eel/Classes/ProtectedContextAwareInterface.php
  Neos.Eel/Tests/Unit/Fixtures/TestObject.php
  Neos.Flow/Classes/I18n/EelHelper/TranslationHelper.php
  Neos.Flow/Classes/I18n/EelHelper/TranslationParameterToken.php
  Neos.Flow/Migrations/Code/Version20180704120523.php
Labels: !!! Next major, P: Eel, P: Flow, T: PHP
