Repository neos/flow-development-collection, pull requests merged in 2019-09, with the labels that each got.

#1720 !!! FEATURE: Add strict typehints for error message title and code
  Neos.Error.Messages/Classes/Message.php
  Neos.Flow.Log/Tests/Unit/Psr/LoggerTest.php
  Neos.Flow/Classes/ResourceManagement/Publishing/MessageCollector.php
Labels: !!! Next major, Feature, P: Error Messages, T: PHP

#1750 BUGFIX: Don't redirect `.well-known`
  Neos.Flow/Resources/Private/Installer/Distribution/Defaults/Web/.htaccess
Labels: Bug

#1754 BUGFIX: Safeguard ob_end_flush() against empty buffer
  Neos.Flow/Classes/Http/RequestHandler.php
Labels: P: Flow, T: PHP

#1752 BUGFIX: Allow string for trusted proxies again (env variable use)
  Neos.Flow/Classes/Http/Component/TrustedProxiesComponent.php
Labels: P: Flow, T: PHP

#1725 !!! TASK: Be more strict with the default accepted clientIP headers
  Neos.Flow/Configuration/Settings.Http.yaml
Labels: !!! Next major, Feature

#1757 TASK: Loosen typo3fluid/fluid dependency
  Neos.FluidAdaptor/composer.json
Labels: P: Fluid(Adaptor)

#1758 TASK: Adjust functional Mvc\RoutingTest to PSR-7
  Neos.Flow/Tests/Functional/Mvc/RoutingTest.php
  Neos.Flow/Tests/Unit/Mvc/Controller/AbstractControllerTest.php
Labels: P: Flow, T: Testing

#1606 FEATURE: Allow mapping whole request body to a single action argument
  Neos.Flow/Classes/Annotations/MapRequestBody.php
  Neos.Flow/Classes/Mvc/Controller/AbstractController.php
  Neos.Flow/Classes/Mvc/Controller/ActionController.php
  Neos.Flow/Classes/Mvc/Controller/Argument.php
  Neos.Flow/Classes/Mvc/Controller/Arguments.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/ModelViewController.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/PropertyMapping.rst
  Neos.Flow/Tests/Functional/Mvc/ActionControllerTest.php
  Neos.Flow/Tests/Functional/Mvc/Fixtures/Controller/ActionControllerTestBController.php
  Neos.Flow/Tests/Unit/Mvc/Controller/ArgumentTest.php
  Neos.Flow/Tests/Unit/Mvc/Controller/MvcPropertyMappingConfigurationServiceTest.php
Labels: Feature, P: Flow, T: PHP

#1760 Revert "TASK: Include TYPO3Fluid for reflection"
  Neos.Flow/Configuration/Settings.yaml
Labels: Bug

#1061 !!!FEATURE: Configurable FlashMessage containers
  Neos.Flow/Classes/Mvc/Controller/AbstractController.php
  Neos.Flow/Classes/Mvc/Controller/ActionController.php
  Neos.Flow/Classes/Mvc/Controller/ControllerContext.php
  Neos.Flow/Classes/Mvc/Exception/InvalidFlashMessageConfigurationException.php
  Neos.Flow/Classes/Mvc/FlashMessage/FlashMessageComponent.php
  Neos.Flow/Classes/Mvc/FlashMessage/FlashMessageContainer.php
  Neos.Flow/Classes/Mvc/FlashMessage/FlashMessageService.php
  Neos.Flow/Classes/Mvc/FlashMessage/FlashMessageStorageInterface.php
  Neos.Flow/Classes/Mvc/FlashMessage/Storage/FlashMessageCookieStorage.php
  Neos.Flow/Classes/Mvc/FlashMessage/Storage/FlashMessageSessionStorage.php
  Neos.Flow/Classes/ObjectManagement/ObjectManager.php
  Neos.Flow/Classes/ObjectManagement/ObjectManagerInterface.php
  Neos.Flow/Classes/Security/Authentication/Controller/AbstractAuthenticationController.php
  Neos.Flow/Configuration/Settings.Mvc.yaml
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/ModelViewController.rst
  Neos.Flow/Migrations/Code/Version20190425144900.php
  Neos.Flow/Resources/Private/Schema/Settings/Neos.Flow.mvc.schema.yaml
  Neos.Flow/Tests/Unit/Mvc/Controller/AbstractControllerTest.php
  Neos.Flow/Tests/Unit/Mvc/Controller/FlashMessageContainerTest.php
  Neos.FluidAdaptor/Classes/View/StandaloneView.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/FlashMessagesViewHelperTest.php
  psalm-baseline.xml
Labels: !!! Next major, Feature, P: Flow

#1748 BUGFIX: Adjust installation documentation to account for missing routes config
  Neos.Flow/Documentation/TheDefinitiveGuide/PartII/Installation.rst
Labels: Bug, T: Documentation

#1646 TASK: Add example development config for allowing all proxies
  Neos.Flow/Resources/Private/Installer/Distribution/Essentials/Configuration/Development/Settings.yaml.example
Labels: P: Flow, T: Documentation

#1717 FEATURE: Interceptor return value may influence request filter
  Neos.Flow/Classes/Security/Authorization/RequestFilter.php
Labels: !!! Next major, Feature, P: Flow, T: PHP

#1678 BUGFIX: resource:clean will remove resource from right collection
  Neos.Flow/Classes/Command/ResourceCommandController.php
Labels: P: Flow, T: PHP

#1766 BUGFIX: Avoid error when setting up SQLite cache backends
  Neos.Cache/Classes/Backend/PdoBackend.php
Labels: P: Cache, T: PHP

#1777 BUGFIX: Avoid changing REQUEST_TIME in functional tests
  Neos.Flow/Tests/Functional/Http/RequestHandlerTest.php
  Neos.Flow/Tests/FunctionalTestCase.php
  Neos.Flow/Tests/Unit/Http/Component/TrustedProxiesComponentTest.php
Labels: P: Flow, T: Testing

#1780 BUGFIX: Handle nullable property annotations correctly
  Neos.Flow/Classes/Reflection/ReflectionService.php
  Neos.Flow/Tests/Functional/Reflection/Fixtures/Model/SuperEntity.php
  Neos.Utility.ObjectHandling/Classes/TypeHandling.php
Labels: Bug, P: Flow, T: PHP

#1790 TASK: Use "Flow/FLOW_VERSION_BRANCH" as default user agent
  Neos.Http.Factories/Classes/ServerRequestFactory.php
Labels: P: Flow, T: PHP

#1782 TASK: Relax option type strictness in AbstractBackend and RedisBackend
  Neos.Cache/Classes/Backend/AbstractBackend.php
  Neos.Cache/Classes/Backend/RedisBackend.php
  Neos.Flow/Classes/Persistence/Doctrine/Repository.php
  psalm-baseline.xml
Labels: P: Cache, T: PHP

#1795 TASK: Fix documented return type for ViewInterface.render()
  Neos.Flow/Classes/Mvc/View/ViewInterface.php
Labels: P: Flow, T: Documentation
