Repository neos/flow-development-collection, pull requests merged in 2019-12, with the labels that each got.

#1872 TASK: PHP 7.4 compatibility
  .travis.yml
  Neos.Eel/Tests/Unit/Helper/StringHelperTest.php
  Neos.Flow/Classes/Aop/Pointcut/PointcutExpressionParser.php
  Neos.Flow/Classes/Http/Helper/UploadedFilesHelper.php
  Neos.Flow/Classes/Session/Session.php
  Neos.Flow/Tests/Unit/Mvc/Routing/RouteTest.php
  Neos.Flow/Tests/Unit/Persistence/Generic/SessionTest.php
Labels: T: PHP

#1873 TASK: Remove code dealing with removed class/interface
  Neos.Flow/Classes/Cache/CacheFactory.php
Labels: P: Flow, T: PHP

#1877 TASK: Add a primary key to "tags" table for MySQL/MariaDB
  Neos.Cache/Resources/Private/mysql.DDL.sql
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Caching.rst
  Neos.Utility.Pdo/Classes/PdoHelper.php
Labels: P: Cache, T: Database

#1879 BUGFIX: Cast identifiers to string when calling frontent / backend methods
  Neos.Cache/Classes/Backend/TransientMemoryBackend.php
  Neos.Cache/Tests/Unit/Backend/TransientMemoryBackendTest.php
Labels: P: Cache, T: PHP

#1875 BUGFIX: Include entry removal into DB transaction during set
  Neos.Cache/Classes/Backend/PdoBackend.php
Labels: P: Cache, T: PHP

#1881 BUGFIX: Inject Dispatcher lazily
  Neos.Flow/Classes/Mvc/DispatchComponent.php
Labels: P: Flow, T: PHP

#1884 TASK: Fix some psalm complaints
  Neos.Flow/Classes/Persistence/Doctrine/Mapping/Driver/FlowAnnotationDriver.php
  psalm-baseline.xml
Labels: P: Flow, T: PHP, T: Testing

#1883 TASK: Add some more statistics badges
  Readme.rst
Labels: T: Documentation
