Repository neos/flow-development-collection, pull requests merged in 2019-06, with the labels that each got.

#1609 TASK: Fix formatting of note
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Http.rst
Labels: P: Flow, T: Documentation

#1613 BUGFIX: Avoid error in Debugger::findProxyAndShortFilePath()
  Neos.Flow/Classes/Error/Debugger.php
Labels: P: Flow, T: PHP

#1608 TASK: Tweak dev dependencies
  Neos.Flow/composer.json
  Neos.Utility.MediaTypes/Tests/Unit/MediaTypesTest.php
  Neos.Utility.MediaTypes/composer.json
  Neos.Utility.ObjectHandling/Classes/ObjectAccess.php
  Neos.Utility.ObjectHandling/Classes/TypeHandling.php
  Neos.Utility.ObjectHandling/Tests/Unit/ObjectAccessTest.php
  Neos.Utility.ObjectHandling/Tests/Unit/TypeHandlingTest.php
  composer.json
Labels: P: Utility, T: PHP, T: Testing

#1624 BUGFIX: Remove exception import breaking compile step
  Neos.Flow/Classes/Core/Booting/Scripts.php
Labels: Bug, P: Flow, T: PHP
