Repository neos/flow-development-collection, pull requests merged in 2020-06, with the labels that each got.

#2028 BUGFIX: Allow Views to replace the response in AjaxWidgetContext
  Neos.FluidAdaptor/Classes/Core/Widget/AjaxWidgetComponent.php
  Neos.FluidAdaptor/Resources/Private/Templates/Tests/Functional/Core/Fixtures/ViewHelpers/SomeAjax/Index.html
  Neos.FluidAdaptor/Tests/Functional/Core/Fixtures/ViewHelpers/Controller/SomeAjaxController.php
  Neos.FluidAdaptor/Tests/Functional/Core/Fixtures/ViewHelpers/Controller/View/CustomView.php
  Neos.FluidAdaptor/Tests/Functional/Core/WidgetTest.php
Labels: Bug, P: Flow

#2024 TASK: Improve wording of include/exclude concepts where possible
  Neos.Eel/Classes/ProtectedContext.php
  Neos.Eel/Classes/Utility.php
  Neos.Eel/Tests/Unit/AbstractEvaluatorTest.php
  Neos.Eel/Tests/Unit/ProtectedContextTest.php
  Neos.Flow/Classes/Aop/Builder/ProxyClassBuilder.php
  Neos.Flow/Classes/Aop/Pointcut/RuntimeExpressionEvaluator.php
  Neos.Flow/Classes/Error/Debugger.php
  Neos.Flow/Classes/ObjectManagement/Proxy/Compiler.php
  Neos.Flow/Classes/Persistence/AbstractPersistenceManager.php
  Neos.Flow/Classes/Persistence/Doctrine/PersistenceManager.php
  Neos.Flow/Classes/Persistence/Generic/PersistenceManager.php
  Neos.Flow/Classes/Persistence/PersistenceManagerInterface.php
  Neos.Flow/Classes/Property/PropertyMappingConfiguration.php
  Neos.Flow/Classes/ResourceManagement/ResourceManager.php
  Neos.Flow/Classes/ResourceManagement/ResourceRepository.php
  Neos.Flow/Classes/ResourceManagement/Target/FileSystemSymlinkTarget.php
  Neos.Flow/Classes/ResourceManagement/Target/FileSystemTarget.php
  Neos.Flow/Classes/Security/Authorization/FilterFirewall.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Eel.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Internationalization.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Persistence.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Security.rst
  Neos.Flow/Tests/Functional/Persistence/PersistenceTest.php
  Neos.Flow/Tests/Unit/Persistence/Doctrine/PersistenceManagerTest.php
  Neos.Flow/Tests/Unit/Property/PropertyMappingConfigurationTest.php
Labels: I: Discussion, P: Flow, T: Documentation, T: PHP

#2002 BUGFIX: Avoid trying to autowire constructor arguments for factory created objects
  Neos.Flow/Classes/ObjectManagement/Configuration/ConfigurationBuilder.php
  Neos.Flow/Tests/Unit/ObjectManagement/Configuration/ConfigurationBuilderTest.php
Labels: Bug, P: Flow, T: PHP
