Repository neos/flow-development-collection, pull requests merged in 2020-01, with the labels that each got.

#1894 BUGFIX: Remove fragment/query in setBaseUri()
  Neos.Flow/Classes/Http/Request.php
Labels: P: Flow, T: PHP

#1895 TASK: Make psalm happier…
  Neos.Flow/Classes/Aop/Builder/ClassNameIndex.php
  psalm-baseline.xml
Labels: T: Testing

#1896 BUGFIX: Fix string offset access syntax with curly braces
  Neos.Flow/Classes/Mvc/Routing/Dto/UriConstraints.php
Labels: P: Flow, T: PHP

#1888 BUGFIX: Fix error handling for importing resources
  Neos.Flow/Classes/ResourceManagement/Storage/WritableFileSystemStorage.php
Labels: Bug, P: Flow, T: PHP
