Repository neos/flow-development-collection, pull requests merged in 2020-05, with the labels that each got.

#2006 TASK: Small code tweak to TaggableMultiBackend
  Neos.Cache/Classes/Backend/TaggableMultiBackend.php
Labels: P: Cache, T: PHP

#2016 TASK: Change used variable TRUE into true
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Configuration.rst
Labels: T: Documentation

#1928 FEATURE: Add configurable PSR-15 middleware kernel
  Neos.Flow/Classes/Http/Component/ComponentChain.php
  Neos.Flow/Classes/Http/Component/ComponentChainFactory.php
  Neos.Flow/Classes/Http/Component/ComponentContext.php
  Neos.Flow/Classes/Http/Middleware/ComponentChainMiddleware.php
  Neos.Flow/Classes/Http/Middleware/Exception.php
  Neos.Flow/Classes/Http/Middleware/MiddlewaresChain.php
  Neos.Flow/Classes/Http/Middleware/MiddlewaresChainFactory.php
  Neos.Flow/Classes/Http/RequestHandler.php
  Neos.Flow/Classes/Mvc/Routing/Dto/UriConstraints.php
  Neos.Flow/Classes/ObjectManagement/ObjectManagerInterface.php
  Neos.Flow/Configuration/Objects.yaml
  Neos.Flow/Configuration/Settings.Http.yaml
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/ArchitecturalOverview.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Http.rst
  Neos.Flow/Resources/Private/Schema/Settings/Neos.Flow.http.schema.yaml
  Neos.Flow/composer.json
  Neos.Http.Factories/composer.json
  composer.json
  psalm-baseline.xml
  psalm.xml
Labels: Feature, P: Flow
