Repository neos/flow-development-collection, pull requests merged in 2020-04, with the labels that each got.

#1947 FEATURE: Run garbage collection of configured caches
  Neos.Flow/Classes/Command/CacheCommandController.php
Labels: P: Flow, T: PHP

#1969 FEATURE: Allow configuring static factory methods in Objects.yaml
  Neos.Flow/Classes/ObjectManagement/CompileTimeObjectManager.php
  Neos.Flow/Classes/ObjectManagement/Configuration/Configuration.php
  Neos.Flow/Classes/ObjectManagement/Configuration/ConfigurationBuilder.php
  Neos.Flow/Classes/ObjectManagement/DependencyInjection/ProxyClassBuilder.php
  Neos.Flow/Classes/ObjectManagement/ObjectManager.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/ObjectManagement.rst
  Neos.Flow/Tests/Unit/ObjectManagement/Configuration/ConfigurationTest.php
  Neos.Flow/Tests/Unit/ObjectManagement/Fixture/StaticFactory.php
  Neos.Flow/Tests/Unit/ObjectManagement/ObjectManagerTest.php
Labels: Feature, P: Flow, T: PHP

#1927 FEATURE: Add EEL Helper File.exists(filename)
  Neos.Eel/Classes/Helper/FileHelper.php
Labels: Feature, P: Eel, T: PHP

#1978 FEATURE: Improve 304 response handling
  Neos.Flow/Classes/Http/Helper/ResponseInformationHelper.php
  Neos.Flow/Tests/Unit/Http/Helper/ResponseInformationHelperTest.php
Labels: Feature, P: Flow, T: PHP

#1980 FEATURE: Array Debugger tolerates iterables
  Neos.Flow/Classes/Error/Debugger.php
Labels: P: Error Messages, P: Flow

#1967 BUGFIX: Objects configured with factory don't receive factory arguments
  Neos.Flow/Classes/ObjectManagement/CompileTimeObjectManager.php
  Neos.Flow/Classes/ObjectManagement/Configuration/Configuration.php
  Neos.Flow/Classes/ObjectManagement/Configuration/ConfigurationBuilder.php
  Neos.Flow/Classes/ObjectManagement/DependencyInjection/ProxyClassBuilder.php
Labels: Bug, P: Flow, T: PHP

#1989 BUGFIX: Adapt virtual objects change to factory arguments bugfix
  Neos.Flow/Classes/ObjectManagement/Configuration/ConfigurationBuilder.php
Labels: Bug

#1986 TASK: Bring HTTP docs up to date with actual implementation
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Http.rst
Labels: P: Flow, T: Documentation
