Repository neos/flow-development-collection, pull requests merged in 2020-07, with the labels that each got.

#2045 TASK: Update psalm baseline
  psalm-baseline.xml
Labels: P: Flow, T: Testing

#2044 BUGFIX: Use serverRequestFactory to create server request with path
  Neos.Flow/Classes/Command/RoutingCommandController.php
Labels: P: Flow, T: PHP

#2032 BUGFIX: Make php binary setting check use realpath
  Neos.Flow/Classes/Core/Booting/Scripts.php
Labels: Bug

#2047 BUGFIX: Set session cookie after flash message storage
  Neos.Flow/Classes/Http/Client/InternalRequestEngine.php
  Neos.Flow/Configuration/Settings.Http.yaml
  Neos.Flow/Tests/Functional/Mvc/ActionControllerTest.php
  Neos.Flow/Tests/Functional/Mvc/Fixtures/Controller/StandardController.php
Labels: Bug, P: Flow, T: PHP
