Repository neos/flow-development-collection, pull requests merged in 2020-11, with the labels that each got.

#2203 BUGFIX: InternalRequestEngine uses middlewares
  Neos.Flow/Classes/Http/Client/InternalRequestEngine.php
Labels: Bug, P: Flow, T: PHP

#2204 FEATURE: Move FlashMessage, StandardsCompliance and PoweredByComponent to Middleware
  Neos.Flow/Classes/Http/Middleware/PoweredByMiddleware.php
  Neos.Flow/Classes/Http/Middleware/StandardsComplianceMiddleware.php
  Neos.Flow/Classes/Mvc/FlashMessage/FlashMessageComponent.php
  Neos.Flow/Classes/Mvc/FlashMessage/FlashMessageMiddleware.php
  Neos.Flow/Configuration/Settings.Http.yaml
  Neos.Flow/Tests/Unit/Http/Component/StandardsComplianceMiddlewareTest.php
Labels: Feature, P: Flow, T: PHP

#1718 !!! FEATURE: ValueObjects are embedded by default
  Neos.Flow/Classes/Annotations/ValueObject.php
  Neos.Flow/Migrations/Code/Version20201003165200.php
  Neos.Flow/Tests/Functional/Persistence/Fixtures/TestValueObject.php
  Neos.Flow/Tests/Functional/Persistence/Fixtures/TestValueObjectWithConstructorLogic.php
  Neos.Flow/Tests/Functional/Persistence/Fixtures/TestValueObjectWithConstructorLogicAndInversedPropertyOrder.php
  Neos.Flow/Tests/Functional/Persistence/Fixtures/TestValueObjectWithDateTimeProperty.php
  Neos.Flow/Tests/Functional/Persistence/Fixtures/TestValueObjectWithSubValueObjectProperties.php
  Neos.Flow/Tests/Functional/Persistence/Fixtures/TestValueObjectWithTransientProperties.php
  Neos.Flow/Tests/Functional/Property/Fixtures/TestValueobject.php
  Neos.Flow/Tests/Unit/Reflection/Fixture/Model/ValueObject.php
  Neos.Flow/composer.json
Labels: !!! Next major, Feature, T: Database

#2134 !!!FEATURE: Add virtual object configurations for framework loggers
  Neos.Flow/Classes/Command/DoctrineCommandController.php
  Neos.Flow/Classes/Http/Component/SecurityEntryPointComponent.php
  Neos.Flow/Classes/Http/ContentStream.php
  Neos.Flow/Classes/I18n/Xliff/Model/FileAdapter.php
  Neos.Flow/Classes/I18n/Xliff/Service/XliffReader.php
  Neos.Flow/Classes/Log/PsrSecurityLoggerInterface.php
  Neos.Flow/Classes/Log/PsrSystemLoggerInterface.php
  Neos.Flow/Classes/Mvc/Routing/Router.php
  Neos.Flow/Classes/Mvc/Routing/RouterCachingService.php
  Neos.Flow/Classes/Persistence/Doctrine/PersistenceManager.php
  Neos.Flow/Classes/Persistence/Doctrine/Query.php
  Neos.Flow/Classes/ResourceManagement/Publishing/MessageCollector.php
  Neos.Flow/Classes/ResourceManagement/ResourceManager.php
  Neos.Flow/Classes/ResourceManagement/ResourceTypeConverter.php
  Neos.Flow/Classes/ResourceManagement/Target/FileSystemTarget.php
  Neos.Flow/Classes/Security/Aspect/LoggingAspect.php
  Neos.Flow/Classes/Security/Context.php
  Neos.Flow/Classes/Security/RequestPattern/CsrfProtection.php
  Neos.Flow/Classes/Session/Aspect/LoggingAspect.php
  Neos.Flow/Classes/Session/Session.php
  Neos.Flow/Configuration/Objects.yaml
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Logging.rst
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/index.rst
  Neos.Flow/Tests/Unit/Mvc/Routing/RouterCachingServiceTest.php
  Neos.Flow/Tests/Unit/Mvc/Routing/RouterTest.php
  Neos.Flow/Tests/Unit/Persistence/Doctrine/PersistenceManagerTest.php
  Neos.Flow/Tests/Unit/ResourceManagement/ResourceTypeConverterTest.php
  Neos.Flow/Tests/Unit/Session/SessionTest.php
Labels: Feature, P: Flow, T: Documentation, help wanted

#2173 !!! FEATURE: Allow RoutePart handlers to access Route Parameters when resolving routes
  Neos.Flow/Classes/Command/RoutingCommandController.php
  Neos.Flow/Classes/Mvc/Routing/Dto/ResolveContext.php
  Neos.Flow/Classes/Mvc/Routing/Dto/RouteParameters.php
  Neos.Flow/Classes/Mvc/Routing/DynamicRoutePart.php
  Neos.Flow/Classes/Mvc/Routing/ParameterAwareRoutePartInterface.php
  Neos.Flow/Classes/Mvc/Routing/Route.php
  Neos.Flow/Classes/Mvc/Routing/Router.php
  Neos.Flow/Classes/Mvc/Routing/UriBuilder.php
  Neos.Flow/Tests/Unit/Mvc/Routing/RouteTest.php
  Neos.Flow/Tests/Unit/Mvc/Routing/RouterCachingServiceTest.php
  Neos.Flow/Tests/Unit/Mvc/Routing/RouterTest.php
Labels: !!! Next major, Feature, P: Flow, T: PHP

#2217 TASK: Add note about signal information argument to docs
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/SignalsAndSlots.rst
Labels: P: Flow, T: Documentation

#2132 BUGFIX: Improve EmailAddressValidator
  Neos.Flow/Classes/Validation/Validator/EmailAddressValidator.php
  Neos.Flow/Tests/Unit/Validation/Validator/CollectionValidatorTest.php
  Neos.Flow/Tests/Unit/Validation/Validator/EmailAddressValidatorTest.php
  Neos.Flow/Tests/Unit/Validation/ValidatorResolverTest.php
  Neos.Flow/composer.json
  composer.json
Labels: P: Flow, T: PHP

#2226 BUGFIX: Adjust functional RoutingTest
  Neos.Flow/Tests/Functional/Mvc/RoutingTest.php
Labels: P: Flow, T: PHP, T: Testing

#2218 BUGFIX: Fix and tweaks in PropertyMapperTest
  Neos.Flow/Tests/Functional/Property/PropertyMapperTest.php
Labels: P: Flow, T: PHP, T: Testing

#2223 FEATURE: Move SecurityEntryPointComponent to middleware
  Neos.Flow/Classes/Http/Component/SecurityEntryPointComponent.php
  Neos.Flow/Classes/Http/Middleware/SecurityEntryPointMiddleware.php
  Neos.Flow/Classes/Http/ServerRequestAttributes.php
  Neos.Flow/Classes/Mvc/DispatchComponent.php
  Neos.Flow/Classes/Mvc/Dispatcher.php
  Neos.Flow/Classes/Mvc/PrepareMvcRequestComponent.php
  Neos.Flow/Classes/Security/Exception/AuthenticationRequiredException.php
  Neos.Flow/Configuration/Settings.Http.yaml
  Neos.Flow/Tests/Unit/Http/Middleware/SecurityEntryPointMiddlewareTest.php
  Neos.Flow/Tests/Unit/Mvc/DispatchComponentTest.php
  Neos.Flow/Tests/Unit/Mvc/DispatcherTest.php
  Neos.Flow/Tests/Unit/Mvc/PrepareMvcRequestComponentTest.php
Labels: Feature, P: Flow, T: PHP

#2219 FEATURE: Move DispatchComponent to middleware
  Neos.Flow/Classes/Http/Component/ReplaceHttpResponseComponent.php
  Neos.Flow/Classes/Http/Component/SetHeaderComponent.php
  Neos.Flow/Classes/Mvc/ActionResponse.php
  Neos.Flow/Classes/Mvc/DispatchComponent.php
  Neos.Flow/Classes/Mvc/DispatchMiddleware.php
  Neos.Flow/Configuration/Settings.Http.yaml
  Neos.Flow/Tests/Unit/Http/HeadersTest.php
  Neos.Flow/Tests/Unit/Http/Middleware/SecurityEntryPointMiddlewareTest.php
  Neos.Flow/Tests/Unit/Http/Middleware/SessionMiddlewareTest.php
  Neos.Flow/Tests/Unit/Http/Middleware/StandardsComplianceMiddlewareTest.php
  Neos.Flow/Tests/Unit/Mvc/DispatchComponentTest.php
  Neos.Flow/Tests/Unit/Mvc/DispatchMiddlewareTest.php
  psalm-baseline.xml
Labels: Feature, P: Flow, T: PHP

#2240 BUGFIX: Add missing imports for removed SetHeaderComponent and ReplaceHttpResponseComponent
  Neos.Flow/Classes/Mvc/ActionResponse.php
Labels: Bug

#2246 TASK: Update to vimeo/psalm 4.1
  Neos.Flow/Classes/Security/Authorization/Privilege/Entity/Doctrine/SqlFilter.php
  Neos.Flow/composer.json
  composer.json
  psalm-baseline.xml
  psalm.xml
Labels: T: Testing

#2231 !!! TASK: Add type declarations to persistence interfaces
  Neos.Flow/Classes/Persistence/AbstractPersistenceManager.php
  Neos.Flow/Classes/Persistence/Doctrine/PersistenceManager.php
  Neos.Flow/Classes/Persistence/Doctrine/Query.php
  Neos.Flow/Classes/Persistence/Doctrine/QueryResult.php
  Neos.Flow/Classes/Persistence/Doctrine/Repository.php
  Neos.Flow/Classes/Persistence/EmptyQueryResult.php
  Neos.Flow/Classes/Persistence/Generic/PersistenceManager.php
  Neos.Flow/Classes/Persistence/Generic/Query.php
  Neos.Flow/Classes/Persistence/Generic/QueryFactory.php
  Neos.Flow/Classes/Persistence/Generic/QueryFactoryInterface.php
  Neos.Flow/Classes/Persistence/Generic/QueryResult.php
  Neos.Flow/Classes/Persistence/PersistenceManagerInterface.php
  Neos.Flow/Classes/Persistence/QueryInterface.php
  Neos.Flow/Classes/Persistence/QueryResultInterface.php
  Neos.Flow/Classes/Persistence/Repository.php
  Neos.Flow/Classes/Persistence/RepositoryInterface.php
  Neos.Flow/Classes/ResourceManagement/ResourceRepository.php
  Neos.Flow/Classes/Security/AccountRepository.php
  Neos.Flow/Tests/Functional/Persistence/Fixtures/SubSubEntityRepository.php
  Neos.Flow/Tests/Unit/Persistence/Generic/QueryTest.php
Labels: !!! Next major, P: Flow, T: PHP

#2241 TASK: Use count instead of find in repository deleting resource
  Neos.Flow/Classes/ResourceManagement/ResourceManager.php
  Neos.Flow/Classes/ResourceManagement/ResourceRepository.php
Labels: P: Flow, T: PHP

#2257 !!! BUGFIX: Adjust to TYPO3Fluid 2.5.11 and 2.6.10 signature changes
  Neos.FluidAdaptor/Classes/Core/Parser/SyntaxTree/ResourceUriNode.php
  Neos.FluidAdaptor/Classes/Core/ViewHelper/AbstractViewHelper.php
  Neos.FluidAdaptor/composer.json
  composer.json
Labels: Bug, T: PHP, dependencies

#2256 BUGFIX: AjaxWidgetsMiddleware initializes SecurityContext
  Neos.FluidAdaptor/Classes/Core/Widget/AjaxWidgetMiddleware.php
Labels: Bug, P: Fluid(Adaptor), T: PHP

#2259 !!! TASK: Remove custom FluidAdaptor Exceptions on invalid ArgumentDefinition
  Neos.FluidAdaptor/Classes/Core/ViewHelper/AbstractViewHelper.php
  Neos.FluidAdaptor/Tests/Unit/Core/ViewHelper/AbstractViewHelperTest.php
Labels: !!! Next major, P: Fluid(Adaptor), T: PHP

#2265 !!! BUGFIX: Make FluidAdaptor compatible with TYPO3Fluid 2.5.11+ and 2.6.10+
  Neos.FluidAdaptor/Classes/Core/Parser/SyntaxTree/ResourceUriNode.php
  Neos.FluidAdaptor/Classes/Core/ViewHelper/AbstractViewHelper.php
  Neos.FluidAdaptor/composer.json
  composer.json
Labels: Bug, P: Fluid(Adaptor), T: PHP

#2266 BUGFIX: Make InstallerScripts compatible to composer version 2.0+
  Neos.Flow/Classes/Composer/InstallerScripts.php
Labels: Bug, P: Flow, T: PHP

#2270 BUGFIX: Fix use of deprecated method called in exception handling
  Neos.Flow/Classes/Composer/InstallerScripts.php
Labels: P: Flow, T: PHP

#2167 BUGFIX: FileSystemStorage::getObjects correctly returns a generator of StorageObject
  Neos.Flow/Classes/ResourceManagement/Storage/FileSystemStorage.php
Labels: Bug, P: Flow

#2255 TASK: Update documentation for default embedded ValueObjects
  Neos.Flow/Classes/Annotations/ValueObject.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Persistence.rst
Labels: Feature, T: Documentation

#2216 FEATURE: Pass SignalInformation instance to slot if possible
  Neos.Flow/Classes/Annotations/Signal.php
  Neos.Flow/Classes/SignalSlot/Dispatcher.php
  Neos.Flow/Classes/SignalSlot/Exception/InvalidSlotException.php
  Neos.Flow/Classes/SignalSlot/SignalAspect.php
  Neos.Flow/Classes/SignalSlot/SignalInformation.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/SignalsAndSlots.rst
  Neos.Flow/Tests/Unit/SignalSlot/DispatcherTest.php
Labels: !!! Next major, Feature, P: Flow, T: PHP

#2202 FEATURE: Accept \Traversable as a collection type in validation
  Neos.Utility.ObjectHandling/Classes/TypeHandling.php
  Neos.Utility.ObjectHandling/Tests/Unit/TypeHandlingTest.php
Labels: P: Flow, T: PHP

#2197 BUGFIX: Reduce maximum line length to 80 chars
  Neos.Flow/Scripts/migrate.php
Labels: P: Flow, T: PHP

#2262 !!! TASK: Remove deprecated code
  Neos.Flow/Classes/Cli/Request.php
  Neos.Flow/Classes/Command/RoutingCommandController.php
  Neos.Flow/Classes/Core/Booting/Scripts.php
  Neos.Flow/Classes/Http/HttpRequestHandlerInterface.php
  Neos.Flow/Classes/Http/RequestHandler.php
  Neos.Flow/Classes/Log/ThrowableStorage/FileStorage.php
  Neos.Flow/Classes/Persistence/Generic/Aspect/LazyLoadingObjectAspect.php
  Neos.Flow/Classes/Persistence/Generic/Aspect/LazyLoadingObjectInterface.php
  Neos.Flow/Classes/Persistence/Generic/Backend/AbstractBackend.php
  Neos.Flow/Classes/Persistence/Generic/Backend/BackendInterface.php
  Neos.Flow/Classes/Persistence/Generic/DataMapper.php
  Neos.Flow/Classes/Persistence/Generic/Exception/InvalidNumberOfConstraintsException.php
  Neos.Flow/Classes/Persistence/Generic/Exception/InvalidObjectDataException.php
  Neos.Flow/Classes/Persistence/Generic/Exception/MissingBackendException.php
  Neos.Flow/Classes/Persistence/Generic/Exception/TooDirtyException.php
  Neos.Flow/Classes/Persistence/Generic/Exception/UnexpectedTypeException.php
  Neos.Flow/Classes/Persistence/Generic/LazySplObjectStorage.php
  Neos.Flow/Classes/Persistence/Generic/PersistenceManager.php
  Neos.Flow/Classes/Persistence/Generic/Qom/Comparison.php
  Neos.Flow/Classes/Persistence/Generic/Qom/Constraint.php
  Neos.Flow/Classes/Persistence/Generic/Qom/DynamicOperand.php
  Neos.Flow/Classes/Persistence/Generic/Qom/LogicalAnd.php
  Neos.Flow/Classes/Persistence/Generic/Qom/LogicalNot.php
  Neos.Flow/Classes/Persistence/Generic/Qom/LogicalOr.php
  Neos.Flow/Classes/Persistence/Generic/Qom/LowerCase.php
  Neos.Flow/Classes/Persistence/Generic/Qom/Operand.php
  Neos.Flow/Classes/Persistence/Generic/Qom/PropertyValue.php
  Neos.Flow/Classes/Persistence/Generic/Qom/QueryObjectModelFactory.php
  Neos.Flow/Classes/Persistence/Generic/Qom/StaticOperand.php
  Neos.Flow/Classes/Persistence/Generic/Qom/UpperCase.php
  Neos.Flow/Classes/Persistence/Generic/Query.php
  Neos.Flow/Classes/Persistence/Generic/QueryFactory.php
  Neos.Flow/Classes/Persistence/Generic/QueryFactoryInterface.php
  Neos.Flow/Classes/Persistence/Generic/QueryResult.php
  Neos.Flow/Classes/Persistence/Generic/Session.php
  Neos.Flow/Classes/Security/Cryptography/SaltedMd5HashingStrategy.php
  Neos.Flow/Classes/Session/Session.php
  Neos.Flow/Configuration/Settings.Security.yaml
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Persistence.rst
  Neos.Flow/Tests/FunctionalTestRequestHandler.php
  Neos.Flow/Tests/Unit/Persistence/Generic/Backend/AbstractBackendTest.php
  Neos.Flow/Tests/Unit/Persistence/Generic/DataMapperTest.php
  Neos.Flow/Tests/Unit/Persistence/Generic/PersistenceManagerTest.php
  Neos.Flow/Tests/Unit/Persistence/Generic/QueryResultTest.php
  Neos.Flow/Tests/Unit/Persistence/Generic/QueryTest.php
  Neos.Flow/Tests/Unit/Persistence/Generic/SessionTest.php
  Neos.Utility.ObjectHandling/Classes/ObjectAccess.php
  psalm-baseline.xml
Labels: !!! Next major, P: Flow, P: Utility, T: PHP

#2276 BUGFIX: Fix UriConstraints::withPort() when port is equal to current port
  Neos.Flow/Classes/Mvc/Routing/Dto/UriConstraints.php
  Neos.Flow/Tests/Unit/Mvc/Routing/Dto/UriConstraintsTest.php
Labels: P: Flow, T: PHP
