Repository neos/flow-development-collection, pull requests merged in 2020-12, with the labels that each got.

#2278 TASK: Update symfony dependencies to 5.1+
  Neos.Flow/composer.json
  composer.json
Labels: P: Flow, dependencies

#2298 TASK: Restrict typo3fluid/fluid to versions before signature change
  Neos.FluidAdaptor/composer.json
  composer.json
Labels: P: Fluid(Adaptor), dependencies

#2214 !!! BUGFIX: Relative position to non-existing key in PositionalArraySorter throws exception
  Neos.Utility.Arrays/Classes/PositionalArraySorter.php
  Neos.Utility.Arrays/Tests/Unit/PositionalArraySorterTest.php
Labels: Bug, P: Utility, T: PHP

#2310 TASK: Use PhpUnit 9
  Neos.Cache/Tests/Unit/Backend/FileBackendTest.php
  Neos.Cache/Tests/Unit/Backend/SimpleFileBackendTest.php
  Neos.Cache/composer.json
  Neos.Error.Messages/composer.json
  Neos.Flow.Log/composer.json
  Neos.Flow/Tests/Functional/ResourceManagement/ResourceManagerTest.php
  Neos.Flow/Tests/Unit/Cache/CacheManagerTest.php
  Neos.Flow/Tests/Unit/Configuration/ConfigurationManagerTest.php
  Neos.Flow/Tests/Unit/Core/LockManagerTest.php
  Neos.Flow/Tests/Unit/Error/DebuggerTest.php
  Neos.Flow/Tests/Unit/Http/BrowserTest.php
  Neos.Flow/Tests/Unit/I18n/Cldr/CldrModelTest.php
  Neos.Flow/Tests/Unit/I18n/Cldr/Reader/CurrencyReaderTest.php
  Neos.Flow/Tests/Unit/I18n/Cldr/Reader/DatesReaderTest.php
  Neos.Flow/Tests/Unit/I18n/Cldr/Reader/NumbersReaderTest.php
  Neos.Flow/Tests/Unit/I18n/Cldr/Reader/PluralsReaderTest.php
  Neos.Flow/Tests/Unit/I18n/FormatResolverTest.php
  Neos.Flow/Tests/Unit/I18n/Formatter/DatetimeFormatterTest.php
  Neos.Flow/Tests/Unit/I18n/Formatter/NumberFormatterTest.php
  Neos.Flow/Tests/Unit/Mvc/ActionRequestTest.php
  Neos.Flow/Tests/Unit/Mvc/Controller/AbstractControllerTest.php
  Neos.Flow/Tests/Unit/Mvc/Controller/ActionControllerTest.php
  Neos.Flow/Tests/Unit/Mvc/DispatcherTest.php
  Neos.Flow/Tests/Unit/Mvc/Routing/IdentityRoutePartTest.php
  Neos.Flow/Tests/Unit/Persistence/AbstractPersistenceManagerTest.php
  Neos.Flow/Tests/Unit/Persistence/Doctrine/PersistenceManagerTest.php
  Neos.Flow/Tests/Unit/Persistence/RepositoryTest.php
  Neos.Flow/Tests/Unit/Property/TypeConverter/ObjectConverterTest.php
  Neos.Flow/Tests/Unit/Property/TypeConverter/PersistentObjectConverterTest.php
  Neos.Flow/Tests/Unit/Security/ContextTest.php
  Neos.Flow/Tests/Unit/Utility/AlgorithmsTest.php
  Neos.Flow/Tests/Unit/Validation/ValidatorResolverTest.php
  Neos.FluidAdaptor/Tests/Unit/Core/ViewHelper/AbstractConditionViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/Core/ViewHelper/AbstractTagBasedViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/Core/ViewHelper/AbstractViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/View/AbstractTemplateViewTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/AbstractFormFieldViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/ButtonViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/CheckboxViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/HiddenViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/PasswordViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/RadioViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/SelectViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/SubmitViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/TextfieldViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Form/UploadViewHelperTest.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/Validation/ResultsViewHelperTest.php
  Neos.Utility.Arrays/composer.json
  Neos.Utility.Files/composer.json
  Neos.Utility.MediaTypes/composer.json
  Neos.Utility.ObjectHandling/composer.json
  Neos.Utility.Schema/composer.json
  Neos.Utility.Unicode/composer.json
  composer.json
Labels: T: Testing, dependencies

#2314 TASK: Document alternative initial database setup method
  Neos.Flow/Documentation/TheDefinitiveGuide/PartII/Configuration.rst
Labels: P: Flow, T: Documentation

#2316 TASK: Some psalm corrections
  Neos.Flow/Classes/Mvc/Routing/IdentityRoutePart.php
  Neos.Flow/Classes/Mvc/Routing/ObjectPathMapping.php
  Neos.Flow/Classes/Persistence/Doctrine/PersistenceManager.php
  Neos.Flow/Classes/Persistence/Doctrine/Repository.php
  Neos.Flow/Classes/Persistence/PersistenceManagerInterface.php
  Neos.Flow/Classes/Persistence/Repository.php
  Neos.Flow/Classes/Property/TypeConverter/PersistentObjectConverter.php
  Neos.Flow/Classes/Reflection/ClassReflection.php
  psalm-baseline.xml
Labels: T: Testing

#2288 !!! TASK: Make composer autoloader the default
  Neos.Flow/Classes/Core/Bootstrap.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartII/Configuration.rst
Labels: !!! Next major, P: Flow, T: PHP

#2297 BUGFIX: Correct printed path for created doctrine migrations
  Neos.Flow/Classes/Command/DoctrineCommandController.php
Labels: Bug, I: Wrong branch, P: Flow

#2283 TASK: Print a helpful message, if autoload.php can not be found in CLI
  Neos.Flow/Scripts/flow.php
Labels: P: Flow, T: PHP

#2320 TASK: Add migration for ComponentContext deprecation
  Neos.Flow/Migrations/Code/Version20201207104500.php
Labels: P: Flow

#2327 BUGFIX: Fix invalid regex in migration
  Neos.Flow/Migrations/Code/Version20201207104500.php
Labels: Bug

#2331 TASK: Replace symfony polyfills due to min PHP version
  composer.json
Labels: dependencies

#2328 TASK: Further adjustments to Doctrine Migrations integration
  Neos.Flow/Classes/Command/DoctrineCommandController.php
  Neos.Flow/Classes/Persistence/Doctrine/Service.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Persistence.rst
Labels: P: Flow, T: PHP

#2326 TASK: Improve exception when a class can not be loaded during AOP building
  Neos.Flow/Classes/Aop/Builder/ProxyClassBuilder.php
Labels: P: Flow, T: PHP

#2335 BUGFIX: Don't access static properties in annotation classes
  Neos.Flow/Classes/ObjectManagement/Proxy/Compiler.php
Labels: Bug, P: Flow, T: PHP

#2342 TASK: Redact the 7.0 changelog
  Neos.Flow/Documentation/TheDefinitiveGuide/PartV/ChangeLogs/700.rst
Labels: T: Documentation

#2343 BUGFIX: Fix creation of translations with targetLanguageKeys defined
  Neos.Kickstarter/Classes/Service/GeneratorService.php
Labels: Bug, P: Kickstarter

#2349 BUGFIX: Correctly handle missing configuration with identity creation
  Neos.Flow/Classes/ResourceManagement/ResourceTypeConverter.php
Labels: Bug, P: Flow, T: PHP

#2345 BUGFIX: Set Flow_Security_Cryptography_HashService defaultLifetime explicitly
  Neos.Flow/Configuration/Caches.yaml
Labels: Bug

#2362 BUGFIX: Avoid passing signal information depending on other signals to same slot
  Neos.Flow/Classes/SignalSlot/Dispatcher.php
Labels: Bug, P: Flow, T: PHP
