Repository neos/flow-development-collection, pull requests merged in 2020-09, with the labels that each got.

#2104 TASK: Add missing HTTP status codes to ResponseInformationHelper
  Neos.Flow/Classes/Http/Helper/ResponseInformationHelper.php
Labels: P: Flow, T: PHP

#2055 TASK: Add documentation to model unidirectional OneToMany and ManyToMany
  Neos.Flow/Documentation/TheDefinitiveGuide/PartII/ModelAndRepository.rst
Labels: T: Documentation

#2056 !!!FEATURE: Allow unidirectional OneToMany relations
  Neos.Flow/Classes/Persistence/Doctrine/Mapping/Driver/FlowAnnotationDriver.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Persistence.rst
  Neos.Flow/Tests/Functional/Persistence/Doctrine/AggregateTest.php
  Neos.Flow/Tests/Functional/Persistence/Fixtures/Post.php
  Neos.Flow/Tests/Functional/Persistence/Fixtures/Tag.php
  psalm-baseline.xml
Labels: !!! Next major, Feature, P: Flow, T: Database

#2113 !!! BUGFIX: Remove unused MD5 in ResourceMetaDataInterface
  Neos.Flow/Classes/ResourceManagement/PersistentResource.php
  Neos.Flow/Classes/ResourceManagement/ResourceMetaDataInterface.php
  Neos.Flow/Classes/ResourceManagement/Storage/FileSystemStorage.php
  Neos.Flow/Classes/ResourceManagement/Storage/PackageStorage.php
  Neos.Flow/Classes/ResourceManagement/Storage/StorageObject.php
  Neos.Flow/Classes/ResourceManagement/Storage/WritableFileSystemStorage.php
  Neos.Flow/Migrations/Mysql/Version20200908155620.php
  Neos.Flow/Migrations/Postgresql/Version20200908155621.php
Labels: !!! Next major, P: Flow, T: PHP

#2119 TASK: Use correct class names in PluralsReaderTest
  Neos.Flow/Tests/Functional/I18n/Cldr/Reader/PluralsReaderTest.php
Labels: P: Flow, T: Testing

#2051 !!!TASK: Rename 'uploadExtensionBlacklist' setting to 'extensionsBlockedFromUpload'
  Neos.Flow/Classes/ResourceManagement/ResourceManager.php
  Neos.Flow/Configuration/Settings.Resource.yaml
  Neos.Flow/Migrations/Code/Version20200813181400.php
  Neos.Flow/Resources/Private/Schema/Settings/Neos.Flow.resource.schema.yaml
Labels: !!! Next major, P: Flow

#1979 !!! BUGFIX: Do not create 412 Status 'Precondition Failed' in standard compliance helper
  Neos.Flow/Classes/Http/Helper/ResponseInformationHelper.php
Labels: !!! Next major, Bug, P: Flow

#2121 TASK: Update starting guide for #2056
  Neos.Flow/Documentation/TheDefinitiveGuide/PartII/ModelAndRepository.rst
Labels: P: Flow, T: Documentation

#2005 BUGFIX: ActionResponse contains negotiated media type as content-type
  Neos.Flow/Classes/Mvc/Controller/AbstractController.php
  Neos.Flow/Tests/Functional/Mvc/AbstractControllerTest.php
  Neos.Flow/Tests/Functional/Mvc/Fixtures/Controller/AbstractControllerTestAController.php
Labels: Bug, P: Flow, T: PHP
