Repository neos/flow-development-collection, pull requests merged in 2020-03, with the labels that each got.

#1917 BUGFIX: Browser correctly builds uploaded files from form
  Neos.Flow/Classes/Http/Client/Browser.php
  Neos.Flow/Classes/Http/Helper/UploadedFilesHelper.php
Labels: Bug, P: Flow

#1922 BUGFIX: Browser correctly builds uploaded files from form
  Neos.Flow/Classes/Http/Client/Browser.php
  Neos.Flow/Classes/Http/Helper/UploadedFilesHelper.php
Labels: Bug, P: Flow

#1920 BUGFIX: Fix output of request and response in throwable storage
  Neos.Flow/Classes/Core/Booting/Scripts.php
  Neos.Flow/Classes/Log/ThrowableStorage/FileStorage.php
Labels: Bug, T: PHP

#1912 BUGFIX: Avoid exception in findIdentifiersByTag()
  Neos.Cache/Classes/Backend/FileBackend.php
Labels: P: Cache, T: PHP

#1924 BUGFIX: EntityPrivilege fails on empty IN condition
  Neos.Flow/Classes/Security/Authorization/Privilege/Entity/Doctrine/PropertyConditionGenerator.php
Labels: Bug, P: Flow

#1520 BUGFIX: Fix usage of SubContexts in ProxyClassLoader
  Neos.Flow/Classes/Core/Bootstrap.php
  Neos.Flow/Classes/Core/ProxyClassLoader.php
  Neos.Flow/Classes/Utility/Environment.php
Labels: Bug, Stale

#1926 BUGFIX: Fix output of request and response in throwable storage
  Neos.Flow/Classes/Core/Booting/Scripts.php
  Neos.Flow/Classes/Log/ThrowableStorage/FileStorage.php
Labels: P: Flow, T: PHP

#1935 FEATURE: Emit a signal when view is resolved
  Neos.Flow/Classes/Mvc/Controller/ActionController.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Templating.rst
Labels: Feature, P: Flow

#1936 FEATURE: Resolve authentication token by simple name
  Neos.Flow/Classes/Security/Authentication/AuthenticationTokenResolver.php
  Neos.Flow/Classes/Security/Authentication/TokenAndProviderFactory.php
  Neos.Flow/Classes/Security/Exception/NoAuthenticationTokenFoundException.php
  Neos.Flow/Tests/Unit/Security/Authentication/AuthenticationTokenResolverTest.php
  Neos.Flow/Tests/Unit/Security/Authentication/TokenAndProviderFactoryTest.php
Labels: Feature, P: Flow

#1942 BUGFIX: Allow numeric array body in request
  Neos.Flow/Classes/Mvc/ActionRequest.php
  Neos.Flow/Classes/Mvc/DispatchComponent.php
  Neos.Flow/Classes/Property/TypeConverter/MediaTypeConverter.php
Labels: Bug
