Repository neos/flow-development-collection, pull requests merged in 2020-02, with the labels that each got.

#1908 TASK: Fix validation warnings/errors on .travis.yml
  .travis.yml
Labels: T: Testing

#1909 TASK: Update psalm-baseline.xml
  psalm-baseline.xml
Labels: T: Testing

#1891 BUGFIX: Correctly reflect type of aliased classes in method typehints
  Neos.Flow/Classes/Reflection/ParameterReflection.php
  Neos.Flow/Classes/Reflection/ReflectionService.php
  Neos.Flow/Tests/Unit/Reflection/Fixture/AliasedClass.php
  Neos.Flow/Tests/Unit/Reflection/Fixture/ClassWithAlias.php
  Neos.Flow/Tests/Unit/Reflection/Fixture/ClassWithAliasDependency.php
  Neos.Flow/Tests/Unit/Reflection/ReflectionServiceTest.php
Labels: Bug, P: Flow, T: PHP

#1901 BUGFIX: Parse single-line docblock comments correctly
  Neos.Flow/Classes/Reflection/DocCommentParser.php
  Neos.Flow/Tests/Unit/Reflection/DocCommentParserTest.php
Labels: Bug, P: Flow

#1898 BUGFIX: Prevent connection error when calling getIterator for PdoBackend
  Neos.Cache/Classes/Backend/PdoBackend.php
Labels: Bug, P: Cache, T: Database

#1915 BUGFIX: Resolve SqlLogger when it is a dependency proxy
  Neos.Flow/Classes/Persistence/Doctrine/Logging/SqlLogger.php
Labels: Bug, P: Flow, T: PHP
