Repository neos/flow-development-collection, pull requests merged in 2020-10, with the labels that each got.

#2158 BUGFIX: Allow URI-building from CLI context
  Neos.Flow/Classes/Http/BaseUriProvider.php
  Neos.Flow/Classes/Mvc/Routing/UriBuilder.php
  Neos.Flow/Tests/Unit/Http/BaseUriProviderTest.php
Labels: P: Flow, T: PHP

#2184 BUGFIX: Register ObjectManager::shutdown() before ConfigurationManage…
  Neos.Flow/Classes/Package.php
  Neos.Flow/Tests/Functional/ObjectManagement/ObjectManagerTest.php
Labels: P: Flow, T: PHP

#2174 FEATURE: Add StaticResource EEL Helper
  Neos.Flow/Classes/ResourceManagement/EelHelper/StaticResourceHelper.php
Labels: Feature

#2188 BUGFIX: Make InstallerScripts compatible to composer version 2.0+
  Neos.Flow/Classes/Composer/InstallerScripts.php
Labels: Bug

#2193 BUGFIX: Skip private methods in SessionObjectMethodsPointcutFilter
  Neos.Flow/Classes/Session/Aspect/SessionObjectMethodsPointcutFilter.php
Labels: P: Flow, T: PHP

#2195 TASK: Clarify signal/slot documentation
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/SignalsAndSlots.rst
Labels: P: Flow, T: Documentation
