Repository neos/flow-development-collection, pull requests merged in 2021-11, with the labels that each got.

#2616 TASK: Add configuration file for RTD
  .readthedocs.yaml
  Neos.Flow/Documentation/conf.py
  Neos.Flow/Documentation/requirements.txt
Labels: T: Documentation

#2599 FEATURE: CLI command to list all connected signals with their slots
  Neos.Flow/Classes/Command/SignalCommandController.php
Labels: T: PHP, P: Flow, Feature

#2588 Throw exception if headers are set through curl options.
  Neos.Flow/Classes/Http/Client/CurlEngine.php
  Neos.Flow/Classes/Http/InvalidArgumentException.php
  Neos.Flow/Tests/Functional/Http/Client/CurlEngineTest.php
Labels: hacktoberfest-accepted

#2596 BUGFIX: Fixed $offset in XliffReader
  Neos.Flow/Classes/I18n/Xliff/Service/XliffReader.php
  Neos.Flow/Tests/Functional/I18n/Xliff/Fixtures/de/BasePackage.MultipleFileItems.xlf
  Neos.Flow/Tests/Functional/I18n/Xliff/Service/XliffFileProviderTest.php
Labels: hacktoberfest-accepted

#2517 BUGFIX: Do not remove related entities during persistence
  Neos.Flow/Classes/ObjectManagement/Proxy/ObjectSerializationTrait.php
  Neos.Flow/Tests/Functional/Persistence/PersistenceTest.php
Labels: hacktoberfest-accepted

#2631 TASK: Update HTTP status codes known to ResponseInformationHelper
  Neos.Flow/Classes/Http/Helper/ResponseInformationHelper.php
Labels: T: PHP, P: Flow

#2632 BUGFIX: IgnoreValidation can be used without arguments on a property
  Neos.Flow/Classes/Annotations/IgnoreValidation.php
  Neos.Flow/Tests/Functional/Mvc/Fixtures/Controller/NestedObject.php
  Neos.Flow/Tests/Functional/Mvc/Fixtures/Controller/TestObjectArgument.php
Labels: T: PHP, P: Flow, Bug
