Repository neos/flow-development-collection, pull requests merged in 2021-04, with the labels that each got.

#2361 BUGFIX: Anonymize authorization header in rendered request headers
  Neos.Flow/Classes/Http/Helper/RequestInformationHelper.php
  Neos.Flow/Tests/Unit/Http/Helper/RequestInformationHelperTest.php
Labels: Bug, P: Flow, T: PHP

#2452 BUGFIX: Use lazy EntityManager injection to prevent recursive instanciation
  Neos.Flow/Classes/Persistence/Doctrine/PersistenceManager.php
Labels: Bug, P: Flow, T: PHP

#2365 FEATURE: Add fusion template support
  Neos.Kickstarter/Classes/Command/KickstartCommandController.php
  Neos.Kickstarter/Classes/Service/GeneratorService.php
  Neos.Kickstarter/Resources/Private/Generator/Controller/ActionControllerTemplate.php.tmpl
  Neos.Kickstarter/Resources/Private/Generator/Controller/CrudControllerTemplate.php.tmpl
  Neos.Kickstarter/Resources/Private/Generator/Fusion/DefaultPrototype.fusion
  Neos.Kickstarter/Resources/Private/Generator/Fusion/EditTemplate.fusion
  Neos.Kickstarter/Resources/Private/Generator/Fusion/IndexTemplate.fusion
  Neos.Kickstarter/Resources/Private/Generator/Fusion/NewTemplate.fusion
  Neos.Kickstarter/Resources/Private/Generator/Fusion/SampleIndexTemplate.fusion
  Neos.Kickstarter/Resources/Private/Generator/Fusion/ShowTemplate.fusion
  Neos.Kickstarter/composer.json
Labels: Feature, P: Kickstarter

#2052 BUGFIX: Add TTL to tags in RedisBackend
  Neos.Cache/Classes/Backend/RedisBackend.php
  Neos.Cache/Tests/Functional/Backend/RedisBackendTest.php
  Neos.Cache/Tests/Unit/Backend/RedisBackendTest.php
Labels: I: Discussion, P: Cache, T: PHP

#2180 BUGFIX: ActionResponse contains negotiated media type as content-type
  Neos.Flow/Classes/Mvc/ActionResponse.php
  Neos.Flow/Classes/Mvc/Controller/AbstractController.php
  Neos.Flow/Classes/Mvc/Controller/ActionController.php
  Neos.Flow/Classes/Mvc/Controller/RestController.php
  Neos.Flow/Tests/Functional/Mvc/AbstractControllerTest.php
  Neos.Flow/Tests/Functional/Mvc/Fixtures/Controller/AbstractControllerTestAController.php
  Neos.Flow/Tests/Unit/Mvc/Controller/ActionControllerTest.php
Labels: Bug, P: Flow, T: PHP

#2460 FEATURE: Cli ProgressBar is public accessible
  Neos.Flow/Classes/Cli/ConsoleOutput.php
Labels: P: Flow, T: PHP

#2359 FEATURE: Make rendering of request in exception log configurable
  Neos.Flow/Classes/Core/Booting/Scripts.php
  Neos.Flow/Configuration/Settings.Log.yaml
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Logging.rst
  Neos.Flow/Resources/Private/Schema/Settings/Neos.Flow.log.schema.yaml
Labels: Feature, P: Flow

#2469 TASK: Tweak polyfill replacements
  Neos.Flow/composer.json
  Neos.Utility.Unicode/composer.json
  composer.json
Labels: P: Flow

#2470 BUGFIX: Clarify regex syntax for Uri request pattern
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Security.rst
Labels: P: Flow, T: Documentation

#2458 BUGFIX: Null coalesce content type in ActionResponse getter
  Neos.Flow/Classes/Mvc/ActionResponse.php
Labels: Bug
