Repository neos/flow-development-collection, pull requests merged in 2021-09, with the labels that each got.

#2533 FEATURE: Preserve class and method doc blocks
  Neos.Flow/Classes/ObjectManagement/Proxy/ProxyClass.php
  Neos.Flow/Classes/ObjectManagement/Proxy/ProxyMethod.php
  Neos.Flow/Tests/Unit/ObjectManagement/Proxy/ProxyMethodTest.php
Labels: T: PHP, P: Flow

#2562 BUGFIX: Handle required and exceeding arguments properly in combination with cli array arguments
  Neos.Flow/Classes/Cli/RequestBuilder.php
  Neos.Flow/Tests/Unit/Cli/RequestBuilderTest.php
Labels: T: PHP, P: Flow

#2568 !!! BUGFIX: Avoid broken proxy docblocks
  Neos.Flow/Classes/Aop/Builder/ProxyClassBuilder.php
  Neos.Flow/Classes/ObjectManagement/Proxy/Compiler.php
  Neos.Flow/Classes/ObjectManagement/Proxy/ProxyClass.php
  Neos.Flow/Classes/Persistence/Aspect/PersistenceMagicAspect.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/AspectOrientedProgramming.rst
  Neos.Flow/Tests/Unit/ObjectManagement/Proxy/ProxyClassTest.php
Labels: T: PHP, P: Flow

#2567 BUGFIX: Correctly set up TestingProvider for "testable security"
  Neos.Flow/Classes/Security/Authentication/Provider/TestingProvider.php
  Neos.Flow/Tests/FunctionalTestCase.php
Labels: T: PHP, T: Testing, P: Flow

#2582 BUGFIX: Do not pass signal information to persistAll
  Neos.Flow/Classes/Package.php
Labels: T: PHP, P: Flow

#2586 BUGFIX: Reset next check for allowed object if no changes exist
  Neos.Flow/Classes/Persistence/Doctrine/AllowedObjectsListener.php
Labels: T: PHP, P: Flow

#2587 TASK: Add release notes for Flow 7.2
  Neos.Flow/Documentation/TheDefinitiveGuide/PartV/ReleaseNotes/720.rst
Labels: T: Documentation, P: Flow
