Repository neos/flow-development-collection, pull requests merged in 2021-08, with the labels that each got.

#2468 FEATURE: Support PHP8 attributes
  Neos.Flow/Classes/Annotations/After.php
  Neos.Flow/Classes/Annotations/AfterReturning.php
  Neos.Flow/Classes/Annotations/AfterThrowing.php
  Neos.Flow/Classes/Annotations/Around.php
  Neos.Flow/Classes/Annotations/Aspect.php
  Neos.Flow/Classes/Annotations/Autowiring.php
  Neos.Flow/Classes/Annotations/Before.php
  Neos.Flow/Classes/Annotations/CompileStatic.php
  Neos.Flow/Classes/Annotations/Entity.php
  Neos.Flow/Classes/Annotations/FlushesCaches.php
  Neos.Flow/Classes/Annotations/Identity.php
  Neos.Flow/Classes/Annotations/IgnoreValidation.php
  Neos.Flow/Classes/Annotations/Inject.php
  Neos.Flow/Classes/Annotations/InjectConfiguration.php
  Neos.Flow/Classes/Annotations/Internal.php
  Neos.Flow/Classes/Annotations/Introduce.php
  Neos.Flow/Classes/Annotations/Lazy.php
  Neos.Flow/Classes/Annotations/MapRequestBody.php
  Neos.Flow/Classes/Annotations/Pointcut.php
  Neos.Flow/Classes/Annotations/Proxy.php
  Neos.Flow/Classes/Annotations/Scope.php
  Neos.Flow/Classes/Annotations/Session.php
  Neos.Flow/Classes/Annotations/Signal.php
  Neos.Flow/Classes/Annotations/SkipCsrfProtection.php
  Neos.Flow/Classes/Annotations/Transient.php
  Neos.Flow/Classes/Annotations/Validate.php
  Neos.Flow/Classes/Annotations/ValidationGroups.php
  Neos.Flow/Classes/Annotations/ValueObject.php
  Neos.Flow/Classes/ObjectManagement/Proxy/Compiler.php
  Neos.Flow/Classes/ObjectManagement/Proxy/ProxyClass.php
  Neos.Flow/Classes/ObjectManagement/Proxy/ProxyMethod.php
  Neos.Flow/Classes/Reflection/ReflectionService.php
  Neos.Flow/Tests/Functional/ObjectManagement/Fixtures/ClassWithPhpAttributes.php
  Neos.Flow/Tests/Functional/ObjectManagement/Fixtures/SampleAttribute.php
  Neos.Flow/Tests/Functional/ObjectManagement/ProxyCompilerTest.php
  Neos.Flow/Tests/Unit/ObjectManagement/Proxy/CompilerTest.php
  Neos.Flow/Tests/Unit/ObjectManagement/Proxy/ProxyMethodTest.php
  Neos.Flow/Tests/Unit/Validation/ValidatorResolverTest.php
Labels: T: PHP, P: Flow, Feature

#2339 TASK: Only invoke authentication entry point for unauthenticated tokens
  Neos.Flow/Classes/Http/Middleware/SecurityEntryPointMiddleware.php
Labels: T: PHP, P: Flow

#2536 BUGFIX: Return first existing annotation, not "current" one
  Neos.Flow/Classes/Reflection/ReflectionService.php
Labels: T: PHP, P: Flow, Bug

#2535 TASK: Add explicit doctrine annotations dependency
  Neos.Flow/composer.json
  composer.json
Labels: P: Flow, dependencies

#2448 BUGFIX: Extract doctrine EventListener functionality from PersistenceManager
  Neos.Flow/Classes/Persistence/AbstractPersistenceManager.php
  Neos.Flow/Classes/Persistence/AllowedObjectsContainer.php
  Neos.Flow/Classes/Persistence/Doctrine/AllowedObjectsListener.php
  Neos.Flow/Classes/Persistence/Doctrine/PersistenceManager.php
  Neos.Flow/Configuration/Settings.Persistence.yaml
  Neos.Flow/Tests/Functional/Persistence/PersistenceTest.php
  Neos.Flow/Tests/Unit/Persistence/Doctrine/PersistenceManagerTest.php
Labels: T: PHP, P: Flow, Bug

#2540 TASK: Require fixed composer/composer packages
  Neos.Flow/composer.json
  composer.json
Labels: Bug, dependencies

#2541 TASK: Fix Psalm issues
  Neos.Flow/Classes/ObjectManagement/Configuration/ConfigurationBuilder.php
  Neos.Flow/Classes/Persistence/Doctrine/Mapping/Driver/FlowAnnotationDriver.php
  Neos.Flow/Classes/Reflection/ReflectionService.php
  Neos.FluidAdaptor/Classes/Core/Rendering/RenderingContext.php
Labels: I: Discussion

#2542 TASK: Fix PhpUnit deprecation warnings
  Neos.Flow/Tests/Unit/Fixtures/SessionlessTestToken.php
  Neos.Flow/Tests/Unit/Http/Component/SecurityEntryPointComponentTest.php
  Neos.Flow/Tests/Unit/Http/Helper/RequestInformationHelperTest.php
  Neos.Flow/Tests/Unit/Persistence/Doctrine/PersistenceManagerTest.php
  Neos.Flow/Tests/Unit/Property/TypeConverter/CollectionConverterTest.php
  Neos.Flow/Tests/Unit/Security/ContextTest.php
  Neos.Flow/Tests/Unit/Security/SessionDataContainerTest.php
Labels: T: Testing, P: Flow

#2546 BUGFIX: Bring back RenderingContext view argument, pin Fluid version
  Neos.FluidAdaptor/Classes/Core/Rendering/RenderingContext.php
  Neos.FluidAdaptor/composer.json
  composer.json
Labels: dependencies

#2544 BUGFIX: Add missing method to Generic\PersistenceManager
  Neos.Flow/Classes/Persistence/Generic/PersistenceManager.php
Labels: T: PHP, P: Flow

#2543 TASK: The RenderingContext no longer has a view argument
  Neos.FluidAdaptor/Classes/Core/Rendering/RenderingContext.php
  Neos.FluidAdaptor/Classes/View/AbstractTemplateView.php
  Neos.FluidAdaptor/Tests/Unit/ViewHelpers/ViewHelperBaseTestcase.php
  Neos.FluidAdaptor/composer.json
  composer.json
Labels: T: PHP, P: Fluid(Adaptor)

#1906 FEATURE: Allow validation of dynamic argument types
  Neos.Flow/Classes/Mvc/Controller/ActionController.php
  Neos.Flow/Classes/Mvc/Controller/Argument.php
  Neos.Flow/Classes/Mvc/Controller/Arguments.php
  Neos.Flow/Classes/Validation/ValidatorResolver.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/PropertyMapping.rst
  Neos.Flow/Tests/Functional/Mvc/ActionControllerTest.php
  Neos.Flow/Tests/Functional/Mvc/Fixtures/Controller/ActionControllerTestBController.php
  Neos.Flow/Tests/Functional/Mvc/Fixtures/Controller/TestObjectArgument.php
  Neos.Flow/Tests/Functional/Mvc/Fixtures/Controller/TestObjectInterface.php
  Neos.Flow/Tests/Unit/Mvc/Controller/ArgumentTest.php
Labels: T: PHP, P: Flow, Feature

#2549 TASK: Update psalm to 4.9
  Neos.Flow/composer.json
  composer.json
  psalm-baseline.xml
  psalm.xml
Labels: T: Testing, dependencies

#2552 TASK: improve request information in exception logfiles
  Neos.Flow/Classes/Core/Booting/Scripts.php
  Neos.Flow/Classes/Http/Helper/RequestInformationHelper.php
  Neos.Flow/Classes/Log/ThrowableStorage/FileStorage.php
Labels: T: PHP, P: Flow
