Repository neos/flow-development-collection, pull requests merged in 2021-03, with the labels that each got.

#2400 BUGFIX: `Array.filter` fails with empty callback
  Neos.Eel/Classes/Helper/ArrayHelper.php
  Neos.Eel/Tests/Unit/Helper/ArrayHelperTest.php
Labels: Bug, P: Eel

#2148 BUGFIX: Don't validate transient properties during persistence
  Neos.Flow/Classes/Validation/ValidatorResolver.php
Labels: Bug, P: Flow, T: PHP

#2411 BUGFIX: Check for valid session identifier before accessing the cache
  Neos.Flow/Classes/Session/Session.php
Labels: Bug, P: Flow, T: PHP

#2416 BUGFIX: Authentication tests don't depend on test running within a second
  Neos.Flow/Tests/Functional/Security/Authentication/Provider/PersistedUsernamePasswordProviderTest.php
Labels: Bug, T: Testing

#2382 BUGFIX: Fix ResourceTypeConverter for "data" import
  Neos.Flow/Classes/ResourceManagement/ResourceTypeConverter.php
  Neos.Flow/Tests/Unit/ResourceManagement/ResourceTypeConverterTest.php
Labels: P: Flow, T: PHP

#2414 BUGFIX: WithAddedHeader does not overwrite existing header
  Neos.Flow/Classes/Http/AbstractMessage.php
  Neos.Flow/Tests/Unit/Http/AbstractMessageTest.php
Labels: Bug

#2287 TASK: Add basic support for PHP8
  .github/workflows/build.yml
  Neos.Cache/Classes/Backend/FileBackend.php
  Neos.Cache/Tests/Unit/Backend/FileBackendTest.php
  Neos.Cache/Tests/Unit/Backend/SimpleFileBackendTest.php
  Neos.Eel/Classes/Helper/MathHelper.php
  Neos.Flow/Classes/Core/LockManager.php
  Neos.Flow/Classes/ObjectManagement/Configuration/ConfigurationBuilder.php
  Neos.Flow/Classes/Package/PackageManager.php
  Neos.Flow/Classes/Property/TypeConverter/MediaTypeConverter.php
  Neos.Flow/Classes/Reflection/MethodReflection.php
  Neos.Flow/Classes/Reflection/ParameterReflection.php
  Neos.Flow/Classes/Reflection/ReflectionService.php
  Neos.Flow/Classes/SignalSlot/Dispatcher.php
  Neos.Flow/Classes/Utility/PhpAnalyzer.php
  Neos.Flow/Tests/Functional/Mvc/ActionControllerTest.php
  Neos.Flow/Tests/Unit/SignalSlot/DispatcherTest.php
  Neos.Utility.Files/Classes/Files.php
  psalm-baseline.xml
Labels: dependencies
