Repository neos/flow-development-collection, pull requests merged in 2022-05, with the labels that each got.

#2838 BUGFIX: Store cache content in BLOB field with PdoBackend
  Neos.Cache/Classes/Backend/PdoBackend.php
  Neos.Cache/Resources/Private/mysql.DDL.sql
  Neos.Cache/Resources/Private/pgsql.DDL.sql
  Neos.Cache/Tests/Functional/Backend/PdoBackendTest.php
Labels: T: Database, P: Cache

#2844 FEATURE: Support object serialization without var annotation
  Neos.Flow/Classes/ObjectManagement/Proxy/ObjectSerializationTrait.php
Labels: T: PHP, P: Flow

#2845 TASK: Delete apigen.yml
  apigen.yml
Labels: T: Documentation

#2847 TASK: Fix setup error handling in PdoBackendTest
  Neos.Cache/Tests/Functional/Backend/PdoBackendTest.php
Labels: T: PHP, T: Testing, P: Cache
