Repository neos/flow-development-collection, pull requests merged in 2022-04, with the labels that each got.

#2807 TASK: Tweak some @param annotations
  Neos.Cache/Classes/Psr/Cache/CacheFactory.php
  Neos.Eel/Classes/Context.php
  Neos.Eel/Classes/FlowQuery/OperationResolver.php
  Neos.Eel/Classes/FlowQuery/OperationResolverInterface.php
  Neos.Flow/Classes/Configuration/RouteConfigurationProcessor.php
  Neos.Flow/Classes/Http/UriTemplate.php
  Neos.Flow/Classes/I18n/AbstractXmlParser.php
  Neos.Flow/Classes/I18n/Xliff/V12/XliffParser.php
  Neos.Flow/Classes/ObjectManagement/Configuration/Configuration.php
  Neos.Flow/Classes/Property/TypeConverter/DateTimeConverter.php
  Neos.Flow/Classes/ResourceManagement/Target/FileSystemTarget.php
  Neos.Flow/Classes/Security/Authorization/Privilege/Entity/Doctrine/ConditionGenerator.php
  Neos.Flow/Classes/Security/Authorization/Privilege/Entity/Doctrine/PropertyConditionGenerator.php
  Neos.Flow/Classes/Security/Authorization/Privilege/Entity/EntityPrivilegeInterface.php
  Neos.Flow/Classes/Security/Authorization/Privilege/Method/MethodPrivilegePointcutFilter.php
  Neos.Flow/Classes/Session/CookieEnabledInterface.php
  Neos.Flow/Scripts/Migrations/Git.php
  Neos.Flow/Tests/Functional/Aop/Fixtures/SubClassOfAbstractClass.php
Labels: T: PHP, P: Flow, P: Eel, P: Cache

#2585 !!! TASK: Add `persistAllowedObjects()` deprecate flag argument for `persistAll()` in PersistenceManager
  Neos.Flow/Classes/Package.php
  Neos.Flow/Classes/Persistence/Doctrine/PersistenceManager.php
  Neos.Flow/Classes/Persistence/PersistenceManagerInterface.php
  Neos.Flow/Tests/Unit/Persistence/Doctrine/PersistenceManagerTest.php
Labels: T: PHP, P: Flow, hacktoberfest-accepted

#2825 TASK: Run tests against current database versions
  .github/workflows/build.yml
Labels: T: Database
