Repository neos/flow-development-collection, pull requests merged in 2022-03, with the labels that each got.

#2626 BUGFIX: Correctly adjust Cache-Control in makeStandardsCompliant()
  Neos.Flow/Classes/Http/CacheControlDirectives.php
  Neos.Flow/Classes/Http/Headers.php
  Neos.Flow/Classes/Http/Helper/ResponseInformationHelper.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Http.rst
  Neos.Flow/Tests/Unit/Http/Helper/ResponseInformationHelperTest.php
Labels: T: PHP, P: Flow

#2668 TASK: Drop call to unicode-safe pathinfo()
  Neos.Flow/Classes/ResourceManagement/Target/FileSystemSymlinkTarget.php
Labels: T: PHP, P: Flow

#2684 TASK: Improve ThrowableStorage docblocks
  Neos.Flow/Classes/Log/ThrowableStorage/FileStorage.php
  Neos.Flow/Classes/Log/ThrowableStorageInterface.php
Labels: T: Documentation, P: Flow

#2731 BUGFIX: Documentation fix follow up to #1108 and #2638
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/ErrorAndExceptionHandling.rst
Labels: T: Documentation

#2685 TASK: Return 400 response when HMAC validation fails
  Neos.Flow/Classes/Mvc/Controller/ActionController.php
  Neos.Flow/Classes/Mvc/Controller/MvcPropertyMappingConfigurationService.php
  Neos.FluidAdaptor/Tests/Functional/Form/FormObjectsTest.php
Labels: T: PHP, P: Flow

#2702 BUGFIX: Don't create proxy classes for PHP enums
  .styleci.yml
  Neos.Flow/Classes/ObjectManagement/CompileTimeObjectManager.php
  Neos.Flow/Classes/ObjectManagement/Proxy/Compiler.php
  Neos.Flow/Tests/Functional/ObjectManagement/Fixtures/PHP81/BackedEnumWithMethod.php
  Neos.Flow/Tests/Functional/ObjectManagement/ProxyCompilerTest.php
Labels: T: PHP, P: Flow

#2718 !!! FEATURE: Introduce flushByTags to taggable cache backends
  Neos.Cache/Classes/Backend/ApcuBackend.php
  Neos.Cache/Classes/Backend/FileBackend.php
  Neos.Cache/Classes/Backend/MemcachedBackend.php
  Neos.Cache/Classes/Backend/NullBackend.php
  Neos.Cache/Classes/Backend/PdoBackend.php
  Neos.Cache/Classes/Backend/RedisBackend.php
  Neos.Cache/Classes/Backend/TaggableBackendInterface.php
  Neos.Cache/Classes/Backend/TaggableMultiBackend.php
  Neos.Cache/Classes/Backend/TransientMemoryBackend.php
  Neos.Cache/Classes/Frontend/AbstractFrontend.php
  Neos.Cache/Classes/Frontend/FrontendInterface.php
  Neos.Cache/Tests/Functional/Backend/RedisBackendTest.php
  Neos.Cache/Tests/Unit/Backend/AbstractBackendTest.php
  Neos.Cache/Tests/Unit/Backend/ApcuBackendTest.php
  Neos.Cache/Tests/Unit/Backend/FileBackendTest.php
  Neos.Cache/Tests/Unit/Backend/PdoBackendTest.php
  Neos.Cache/Tests/Unit/Backend/RedisBackendTest.php
  Neos.Cache/Tests/Unit/Backend/TransientMemoryBackendTest.php
  Neos.Flow/Classes/Mvc/Routing/RouterCachingService.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Caching.rst
Labels: !!! Next major, P: Cache

#2743 !!!TASK: Remove legacy fluid custom error view options and migrate to `viewOptions`
  Neos.Flow/Classes/Error/AbstractExceptionHandler.php
  Neos.Flow/Configuration/Settings.Error.yaml
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/ErrorAndExceptionHandling.rst
  Neos.Flow/Migrations/Code/Version20220318174300.php
  Neos.Flow/Tests/Unit/Error/AbstractExceptionHandlerTest.php
Labels: !!! Next major

#2756 BUGFIX: Properly encode error message in internal request header
  Neos.Flow/Classes/Http/Client/InternalRequestEngine.php
Labels: Bug

#2686 TASK: Return 400 response if required argument is missing
  Neos.Flow/Classes/Mvc/Controller/ActionController.php
  Neos.Flow/Tests/Functional/Mvc/ActionControllerTest.php
Labels: T: PHP, P: Flow

#2719 BUGFIX: Use configured pdo cache tables during flush and garbage collection
  Neos.Cache/Classes/Backend/PdoBackend.php
Labels: Bug, P: Cache

#2669 BUGFIX: Avoid race condition on symlink publishing
  Neos.Flow/Classes/ResourceManagement/Target/FileSystemSymlinkTarget.php
Labels: T: PHP, P: Flow

#2474 !!!TASK: Change default JsonView DateTime format to ISO compliant DateTime::ATOM
  Neos.Flow/Classes/Mvc/View/JsonView.php
  Neos.Flow/Tests/Unit/Mvc/View/JsonViewTest.php
Labels: !!! Next major

#2721 FEATURE: Optimised Redis cache backend
  Neos.Cache/Classes/Backend/RedisBackend.php
  Neos.Cache/Classes/Backend/RequireOnceFromValueTrait.php
  Neos.Cache/Tests/Functional/Backend/RedisBackendTest.php
  Neos.Cache/Tests/Unit/Backend/RedisBackendTest.php
  Neos.Flow/Documentation/TheDefinitiveGuide/PartIII/Caching.rst
Labels: P: Cache

#2584 !!!TASK: Add method argument and return type hints
  Neos.Flow/Classes/Persistence/AllowedObjectsContainer.php
Labels: !!! Next major, hacktoberfest-accepted

#2765 TASK: Provide better error message if EntityManager is closed
  Neos.Flow/Classes/Persistence/Doctrine/PersistenceManager.php
Labels: T: PHP, P: Flow

#2389 BUGFIX: ObjectAccess with direct access on private properties of proxied classes
  Neos.Utility.ObjectHandling/Classes/ObjectAccess.php
  Neos.Utility.ObjectHandling/Tests/Unit/Fixture/ProxiedClassWithPrivateProperty.php
  Neos.Utility.ObjectHandling/Tests/Unit/ObjectAccessTest.php
Labels: T: PHP, P: Utility

#2784 !!! TASK: Remove whitelistObject() / add allowObject() in PersistenceManagerInterface
  Neos.Flow/Classes/Persistence/AbstractPersistenceManager.php
  Neos.Flow/Classes/Persistence/Doctrine/PersistenceManager.php
  Neos.Flow/Classes/Persistence/PersistenceManagerInterface.php
  Neos.Flow/Classes/Security/Authentication/Provider/PersistedUsernamePasswordProvider.php
Labels: T: PHP, P: Flow
