Repository neos/flow-development-collection, pull requests merged in 2022-07, with the labels that each got.

#2865 BUGFIX: Don't convert numeric strings to numbers in proxy method argument defaults
  Neos.Flow/Classes/ObjectManagement/Proxy/ProxyMethod.php
Labels: T: PHP, P: Flow, Bug

#2857 TASK: Remove noise from session LoggingAspect
  Neos.Flow/Classes/Session/Aspect/LoggingAspect.php
Labels: T: PHP, P: Flow

#2874 FEATURE: Add method `askQuestion` to console output that accepts a `Question` object
  Neos.Flow/Classes/Cli/ConsoleOutput.php
Labels: P: Flow, Feature
