Repository neos/flow-development-collection, pull requests merged in 2023-02, with the labels that each got.

#2884 BUGFIX: Reset cache backend iterator state on update
  Neos.Cache/Classes/Backend/ApcuBackend.php
  Neos.Cache/Classes/Backend/PdoBackend.php
  Neos.Cache/Classes/Backend/SimpleFileBackend.php
  Neos.Cache/Tests/Unit/Backend/ApcuBackendTest.php
  Neos.Cache/Tests/Unit/Backend/PdoBackendTest.php
  Neos.Cache/Tests/Unit/Backend/SimpleFileBackendTest.php
Labels: T: PHP, P: Cache

#2808 TASK: Handle ReflectionUnionType & ReflectionIntersectionType
  Neos.Flow/Classes/Reflection/ReflectionService.php
  psalm-baseline.xml
Labels: T: PHP, P: Flow

#2700 BUGFIX: isNewObject will correctly report object status
  Neos.Flow/Classes/Persistence/Doctrine/PersistenceManager.php
Labels: T: Database, T: PHP, P: Flow

#2959 TASK: Adding labels to PRs
  .github/workflows/add-pr-labels.yml
Labels: Task, 7.3

#2963 BUGFIX: #2962 JsonArrayType Regression
  Neos.Flow/Classes/Persistence/Doctrine/DataTypes/JsonArrayType.php
Labels: Bug, 8.3

#2965 BUGFIX: Try public const FLOW_JSON_ARRAY in JsonArrayType
  Neos.Flow/Classes/Persistence/Doctrine/DataTypes/JsonArrayType.php
Labels: Bug, 8.3
